@charset "UTF-8";

.container{
    //padding-top:29px;
}
/*顶部导航样式*/
#site-nav{
    /*position: fixed;
    _position: absolute;
    top:0;
    left:0;right:0;*/
    *width:100%;
    height: 28px;
    line-height: 28px;
    background: #f7f7f7;
    /*border-bottom: 1px solid #DDD;*/
    color: #666;
    z-index:500;
    font-family: '宋体',arial,verdana;;
}
#site-nav a{
    color: #666;
}
#site-nav a:hover {
    text-decoration: none;
}
#site-nav .high-light{
    max-width: 170px;
    color: #e70012;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
#site-nav .menu-hd a:hover {
    color: #e70012;
}
#site-nav .menu-hd a:hover {
    color: #e70012;
}
#site-nav .menu-bd{
    display: none;
    position: absolute;
    top: 28px;
    left: -1px;
    border: 1px solid #DDD;
    border-top-color: #FFF;
    background: #FFF;
    z-index: 100;
}
#site-nav .menu-bd a:hover {
    color: #e70012;
}
#site-nav .site-nav-bd{
    width: 1190px;
    height: 28px;
    margin: 0 auto;
    background: #f7f7f7;
    //border-bottom: 1px solid #DDD;
}
#site-nav .site-nav-bd .top-menu{
    display: inline;
    float: left;
    *display: inline;
    *zoom: 1;
    position: relative;
    z-index: 220;
}
#site-nav .site-nav-bd .top-menu .menu-hd{
    padding: 0 6px;
    color: #666;
}
#site-nav .site-nav-bd .top-menu .t-icon-down{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#site-nav .site-nav-bd .top-menu:hover .t-icon-down{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#site-nav .site-nav-bd .hover{
    background-color: #FFFFFF;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
#site-nav .site-nav-bd .hover .menu-hd{
    position: relative;
    z-index: 200;
}

#site-nav .site-nav-bd .menu-spacer{
    height: 1px;
    background-color: #ddd;
    position: absolute;
    right: -1px;
    top: -1px;
}
#site-nav .top-menu {
    margin: 0 2px;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
}
#site-nav .top-line{
    display: inline;
    float: left;
    width: 1px;
    height: 14px;
    margin-top: 7px;
    padding: 0;
    background: #ccc;
    overflow: hidden;
}

#site-nav .site-nav-bd {

    .t-icon-collect,
    .t-icon-order,
    .t-icon-fav,
    .t-icon-down,
    .t-icon-site{
        display: inline-block;
        *display: inline;
        *zoom: 1;
        background: url("/images/common/icons.png") no-repeat 999em;

    }
    .t-icon-collect,.t-icon-site{
        margin-right: 7px;
        vertical-align: -1px;
        *vertical-align: middle;
    }
    .t-icon-order,.t-icon-fav{
        margin-right: 7px;
        vertical-align: -2px;
        *vertical-align: middle;
    }

    .t-icon-collect{
        width: 12px;
        height: 11px;
        background-position: 0 0;
    }

    .t-icon-order{
        width: 10px;
        height: 12px;
        background-position: -1px -88px;
    }

    .t-icon-fav{
        width: 12px;
        height: 13px;
        background-position: 0 -58px;
    }

    .t-icon-down{
        width: 7px;
        height: 4px;
        margin-left: 7px;
        background-position: 0 -35px;
        vertical-align: 1px;
        *vertical-align: middle;
    }

    .t-icon-site{
        width: 10px;
        height: 9px;
        background-position: 0 -116px;
    }
}