<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.common.mapper.AdjustmentMapper">
    <!-- 基础列 -->
    <sql id="adjustmentColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.dealerId as dealerId ,
        a.adjustAllPrice as adjustAllPrice ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

	<insert id="insertBatch" parameterType="list">
		insert into Adjustment(
         refrenceId ,
         brandId ,
         dealerId ,
         adjustAllPrice ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES
        <foreach collection="list" item="adjustment" separator=",">
         (
        #{adjustment.refrenceId}  ,
        #{adjustment.brandId}  ,
        #{adjustment.dealerId}  ,
        #{adjustment.adjustAllPrice}  ,
        #{adjustment.createTime}  ,
        #{adjustment.updateTime}  ,
        0 
        )
        </foreach>
	</insert>
    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.common.entity.Adjustment">
        insert into Adjustment(
         refrenceId ,
         brandId ,
         dealerId ,
         adjustAllPrice ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{dealerId}  ,
        #{adjustAllPrice}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from Adjustment where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update Adjustment set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.common.entity.Adjustment">
        insert into Adjustment
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="dealerId != null">
            dealerId ,
        </if>
        <if test="adjustAllPrice != null">
            adjustAllPrice ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="dealerId != null">
            #{dealerId} ,
        </if>
        <if test="adjustAllPrice != null">
            #{adjustAllPrice} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.common.entity.Adjustment">
        update Adjustment
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="dealerId != null">
                dealerId = #{dealerId} ,
            </if>
            <if test="adjustAllPrice != null">
                adjustAllPrice = #{adjustAllPrice} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.common.entity.Adjustment">
        update Adjustment set
            brandId = #{brandId} ,
            dealerId = #{dealerId} ,
            adjustAllPrice = #{adjustAllPrice} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.common.entity.Adjustment">
        select <include refid="adjustmentColumns"/> from Adjustment a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.common.entity.Adjustment">
        SELECT
        <include refid="adjustmentColumns"/>
        FROM Adjustment a WHERE a.delFlag = 0
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="dealerId != null and dealerId != ''">
            and a.dealerId like CONCAT('%',#{dealerId}, '%')
        </if>
        <if test="adjustAllPrice != null and adjustAllPrice != ''">
            and a.adjustAllPrice = #{adjustAllPrice}
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.common.entity.Adjustment">
        SELECT
        <include refid="adjustmentColumns"/>
        FROM Adjustment a WHERE a.delFlag = 0
    </select>
    <select id="countAdjustment" resultType="java.lang.Integer">
        SELECT
            count(a.refrenceId)
        FROM
            Adjustment a
        WHERE
            a.delFlag = 0
        AND a.dealerId = #{dealerId}
        AND a.brandId = #{brandId}
        AND a.refrenceId = #{brandAdjustId}
    </select>
</mapper>

