<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.common.mapper.WebDefTemplateMapper">
    <cache type="com.zttx.sdk.cache.RedisCache"/>
    <!-- 基础列 -->
    <sql id="webDefTemplateColumns">
        a.refrenceId as refrenceId,
        a.modelName as modelName ,
        a.modelKey as modelKey,
        a.subDesc as subDesc,
        a.htmlText as htmlText,
        a.createTime as createTime,
        a.updateTime as updateTime,
        a.delFlag as delFlag
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.common.entity.WebDefTemplate">
        INSERT INTO WebDefTemplate (
            refrenceId,
            modelName,
            modelKey,
            subDesc,
            htmlText,
            createTime,
            updateTime,
            delFlag
        ) VALUES (
            #{refrenceId},
            #{modelName},
            #{modelKey},
            #{subDesc},
            #{htmlText},
            #{createTime},
            #{updateTime},
            #{delFlag}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM WebDefTemplate
        WHERE refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        UPDATE WebDefTemplate
        SET delFlag = TRUE
        WHERE refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.common.entity.WebDefTemplate">
        insert into WebDefTemplate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                refrenceId ,
            </if>
            <if test="modelName != null">
                modelName ,
            </if>
            <if test="modelKey != null">
                modelKey ,
            </if>
            <if test="subDesc != null">
                subDesc ,
            </if>
            <if test="htmlText != null">
                htmlText ,
            </if>
            <if test="createTime != null">
                createTime ,
            </if>
            <if test="updateTime != null">
                updateTime ,
            </if>
            <if test="delFlag != null">
                delFlag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                #{refrenceId} ,
            </if>
            <if test="modelName != null">
                #{modelName} ,
            </if>
            <if test="modelKey != null">
                #{modelKey} ,
            </if>
            <if test="subDesc != null">
                #{subDesc} ,
            </if>
            <if test="htmlText != null">
                #{htmlText} ,
            </if>
            <if test="createTime != null">
                #{createTime} ,
            </if>
            <if test="updateTime != null">
                #{updateTime} ,
            </if>
            <if test="delFlag != null">
                #{delFlag}
            </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.common.entity.WebDefTemplate">
        update WebDefTemplate
        <set>
            <if test="modelName != null">
                modelName = #{modelName} ,
            </if>
            <if test="modelKey != null">
                modelKey = #{modelKey} ,
            </if>
            <if test="subDesc != null">
                subDesc = #{subDesc} ,
            </if>
            <if test="htmlText != null">
                htmlText = #{htmlText} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag}
            </if>
        </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.common.entity.WebDefTemplate">
        UPDATE WebDefTemplate
        SET
            modelName  = #{modelName},
            modelKey   = #{modelKey},
            subDesc    = #{subDesc},
            htmlText   = #{htmlText},
            createTime = #{createTime},
            updateTime = #{updateTime},
            delFlag    = #{delFlag}
        WHERE refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultType="com.zttx.web.module.common.entity.WebDefTemplate">
        select
        <include refid="webDefTemplateColumns"/>
        from WebDefTemplate a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.common.entity.WebDefTemplate">
        SELECT
        <include refid="webDefTemplateColumns"/>
        FROM WebDefTemplate a WHERE a.delFlag = 0
        <if test="modelName != null and modelName != ''">
            and a.modelName like CONCAT('%',#{modelName}, '%')
        </if>
        <if test="modelKey != null and modelKey != ''">
            and a.modelKey like CONCAT('%',#{modelKey}, '%')
        </if>
        <if test="subDesc != null and subDesc != ''">
            and a.subDesc like CONCAT('%',#{subDesc}, '%')
        </if>
        <if test="htmlText != null and htmlText != ''">
            and a.htmlText like CONCAT('%',#{htmlText}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.common.entity.WebDefTemplate">
        SELECT
        <include refid="webDefTemplateColumns"/>
        FROM WebDefTemplate a WHERE a.delFlag = 0
    </select>
    <!-- 根据KEY查询 -->
    <select id="findByKey" resultType="com.zttx.web.module.common.entity.WebDefTemplate">
        SELECT
        <include refid="webDefTemplateColumns"/>
        FROM WebDefTemplate a WHERE a.modelKey = #{key} and a.delFlag = 0
    </select>
    <!--统计-->
    <select id="countByKey" resultType="int">
        select count(1) from WebDefTemplate a where a.delFlag=0
        <if test="modelKey != null and modelKey != ''">
            and a.modelKey = #{modelKey}
        </if>
        <if test="refrenceId != null and refrenceId != ''">
            and a.refrenceId != #{refrenceId}
        </if>
    </select>
</mapper>

