@charset "UTF-8";
@import "../mixin";
@import "../typography";
@import "../common/index/icons";
@import "../dealer/model/pagination";
@import "../common/header";
@import "../common/footer";
@import "../market/stage_enquiry";//询价
@import "../market/form";//询价表单
//layout
.brand-col-l{
    width: 950px;
}
.brand-col-r{
    width: 230px;
}

//组件

.nav-search-box{
    @include inline-block();
    border:1px solid #ddd;
    background: #fff;

    input{border:0;padding:0 10px;}
    button{border:0;background: #fff;}
}

.explosion-col{
    .explosion-col-head{
        height: 25px;
        line-height: 24px;
        padding-left: 8px;
        border-left: 5px solid #666;
        background: #f2f2f2;
        h3{
            font-size: 16px;
            font-family: "Microsoft yahei";
        }
    }
}

//实时动态
.real-time{
    @include clearfix();
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
    &:hover{
        .des{
            color: #ff8800;
            a{
                text-decoration: none;
                color: #ff8800;
            }
        }
        .title{
            color: #ff8800;
        }
    }
    .pic{
        @include float();
    }
    .title,.des{
        margin-left: 80px;
        color: #666;
    }
    .title{
        margin-bottom: 5px;
        padding-bottom: 5px;
        //border-bottom: 1px dashed #ddd;
        font-size: 13px;
        font-family: "Microsoft yahei";
    }
    .des{
        line-height: 20px;
    }
}

//搜索结果为空，即无品牌
.no-result{
    padding: 20px 20px 0 20px;
    background: #f4f4f4;
    position: relative;
    .n-r-say{
        height: 66px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #d6d6d6;
        background: url("../../images/stores/no-result.png") no-repeat 36px top;
        font-family: "Microsoft yahei";
        font-size: 16px;
        color: #666;
        p{
            padding-top: 10px;
            line-height: 20px;
            text-indent: 135px;
        }
        span{
            color: #d8271c;
        }
    }
    .n-r-recomed{
        line-height: 40px;
        span{
            color: #666;
        }
        a{
            color: #f80;
        }
    }
    .n-r-search{
        position: absolute;
        top: 37px;
        right: 25px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #fff;
        .n-r-text,.n-r-btn{
            border: 0;
        }
        .n-r-text{
            width: 140px;
            height: 25px;
            line-height: 25px;
            color: #999;
            padding-left: 5px;
        }
        .n-r-btn{
            width: 30px;
            height: 25px;
            margin: 1px;
            background: #f80 url("../../images/market/clearance/isearch-on.png") no-repeat center;
            border-radius: 0 3px 3px 0 ;
        }
    }
}




.imbrand-list,.imdealer-list{
    padding:10px 12px;
    border:1px solid #e1e1e1;
    .head{
        height: 90px;
        border-bottom: 1px dashed #e1e1e1;
        font-family: "microsoft yahei";
        text-align: center;
        h3{
            font-weight: 700;
            font-size:14px;
            margin-bottom:5px;
        }
        p{
            color:#999;
        }
    }
    .content{
        color:#999;
        padding:15px 0;
        span{
            font-family: "Microsoft yahei";
            font-size: 16px;
            color: #FF8900;
        }
    }
    .btn-apply{
        display: block;
        height:34px;
        line-height:34px;
        background-color:#ff8800;
        border-radius: 3px;
        color:#fff;
        text-decoration: none;
        text-align:center;
        font-weight: 700;
        font-size:14px;
        &:hover{
            background: #f60;
        }
    }
}
.imdealer-list{border-top:0;}


.classify{
    border: 1px solid #e1e1e1;
    border-top: 0;
    background: #f6f6f6;
    position: relative;
    .classify-height{
        height: 35px;
    }
    .classify-tit{
        width: 84px;
        margin-top: 10px;
        padding-left: 10px;
        color: #666;
    }
    .classify-sel{
        width: 854px;
        background: #fff;
        .icons-brand-selmore{
            *vertical-align: 3px;
            _vertical-align: -2px;
            *margin-right: 5px;
        }
        .icons-brand-morejian{
            *vertical-align: 5px;
            _vertical-align: -2px;
        }
    }
    .classify-ul{
        width: 680px;
        overflow:hidden;
        li{
            float:left;
            height: 35px;
            line-height: 35px;
            margin-left: 25px;
            white-space: nowrap;
            a{
                display: inline-block;
                *display: inline-block;
                *zoom: 1;
                height: 20px;
                line-height: 20px;
                position: relative;
                color: #666;
                padding-left: 3px;
                padding-right:20px;
                _margin-top:8px;
                border:1px solid #fff;
                &:hover{
                    color: #ff8800;
                }
            }
            .pp-selested{
                border-color: #B0A59F;
                &:hover{
                    border-color: #c30000;
                    i{ background-position:-29px -32px;}
                }
                i{
                    position: absolute;
                    width:13px;
                    height: 13px;
                    overflow: hidden;
                    background-position:-29px -51px;
                    right: 3px;
                    top:3px;
                }
            }
        }
        .active{
            font-weight: bold;
        }
    }
    .classify-btngroup{
        //此按钮功能暂时废除
        text-align: center;
        display: none;
        padding-bottom: 10px;
    }
    .classify-selmore{
        background: #f2f0ef;
        padding: 0 5px;
        *margin-right: 5px;
        a{
            color: #806f66;
        }
    }
    .classify-more{
        a{
            color: #806f66;
        }
    }
}

.classify-main{
    border: 1px solid #e1e1e1;
}

.classify-bottom{
    background: #eae5dd; height: 5px;
}



ul.order-grid {
    @include inline-float();
    min-height: 400px;
    margin-left: -20px;
    li {
        margin-left: 19px;
        margin-bottom: 10px;

        .goods-sale-img{
            display: none;
        }

        &.goods-sale{
            .goods-sale-img{
                display: block;
                position: absolute;
                bottom: 0;left:0;
            }

        }


        .list-item {
            border: 1px solid #e1e1e1;
            width: 213px;
            height: 385px;
            padding:5px;
            position:relative;

            &:hover, &.hover {
                border: 1px solid #ff8a01;
            }

            p{
                padding:3px 0;
                color:#999;
            }

            .list-item-pic{
                width: 213px;
                height: 213px;
                position: relative;

                &:hover{

                    .list-item-mask{
                        display: block;
                    }
                }
                img{
                    max-width: 213px;
                    max-height: 213px;
                }
            }

            .list-item-mask{
                display:none;
                position:absolute;
                left:0px;
                top:0px;
                width:213px;
                height:213px;
                background: rgba(255,255,255,0.3);
                //filter:alpha(opacity=80);
            }

            .list-item-logo{
                margin-top: 60px;
                display: block;
                text-align:center;
                border-radius: 50%;
                width:100px;
                height:100px;
                background:#fff;
                margin-left:auto;
                margin-right:auto;
                overflow: hidden;
                img{
                    max-width:100px;
                    max-height:100px;
                }
            }

            .pic-thumbs{
                position: relative;

                .pic-prev,.pic-next{
                    display: none;
                    position: absolute;
                    width:10px;
                    height:30px;
                    line-height: 30px;
                    border:1px solid #f1f1f1;
                    color:#f1f1f1;
                    top:5px;
                    border-radius: 2px;
                    text-align: center;

                    &:hover{
                        padding:0px;
                        border:1px solid #f80;
                        color:#f80;
                        text-decoration: none;
                    }
                }
                .pic-prev{
                    left:5px;
                }
                .pic-next{

                    right:5px;
                }

            }

            .pic-thumb-list{
                @include inline-float();
                height: 32px;
                padding:10px 5px 5px;
                margin-left:-10px;
                li{
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                    margin-bottom: 0px;
                    border:1px solid #ddd;

                    img{
                        max-width:30px;
                        max-height:30px;
                    }
                }

            }
            .info{
                height: 78px;
                padding: 0 5px 10px;

                .simply{
                    height:36px;
                    overflow: hidden;
                }
                .unempower{
                    height: 22px;
                    padding-bottom: 10px;
                    background: url("../../images/common/index/unempower.png") no-repeat;
                    color:#fff;
                }
            }
            .compare{
                margin:0 10px;
                padding:10px 0;
                border-top:1px dashed #e1e1e1;
            }
            .operate{
                text-align: center;
            }
        }
    }
}
ul.brand-grid{
    @include inline-float();
    min-height: 320px;
    margin-left: -18px;

    li {
        margin-left: 17px;
        margin-bottom: 10px;

        .list-item {
            border: 1px solid #e1e1e1;
            width: 213px;
            height: 320px;
            padding:5px;

            &:hover, &.hover {
                border: 1px solid #ff8a01;
            }
            .list-item-pic{
                width: 213px;
                height: 213px;
                img{
                    max-width: 213px;
                    max-height:213px;
                }
            }
            h4{
                padding:5px 0;
                margin:5px 0;
                color:#999;
                background:#f2f2f2;
                text-align:center;
            }

            .list-item-logo{
                text-align:center;
                a{
                    @include inline-block();
                    width:213px;
                    height: 70px;
                }
                img{
                    max-width: 213px;
                    max-height:70px;
                }
            }

        }
    }
}

//筛选条
.filter{
    height: 40px;
    border: 1px solid #ddd;
    background: #f7f7f7;
    margin-top: 10px;
    color: #666;
    position: relative;
    overflow: hidden;

    .filter-tit{
        width:90px;
        height: 40px;
        line-height: 40px;
        background: #fff;
        border-right:1px solid #ccc;
        text-align: center;
        color:#CC6666;
    }

    .filter-tag{
        a{
            @include inline-block();
            height: 40px;
            line-height: 40px;
            padding:0 20px;
            border-right: 1px solid #ddd;
            text-align: center;
            color:#666;

            &:hover{
                color:#08c;
            }

            &.active{
                color:#08c;

                .icon-arr{
                    @include inline-block();
                }
            }
            .icon-arr{
                display: none;
            }
        }
    }

    .ts-input-filter{
        height: 40px;
        line-height: 40px;

        .input-price{
            width:40px;
            height:20px;
            padding-left:20px;
            border:1px solid #ccc;
            background: #fff url("../../images/market/clearance/irmb.png") no-repeat 5px center;
        }
        b{
            margin:0 5px;
        }

        .btn-search{
            //@include inline-block();
            height:24px;
            padding:0 10px;
            background: #fff;
            border:1px solid #FF9966;
            border-radius: 3px;

            &:hover{
                background: #FF9966;
                border:1px solid #FF9966;
                color:#fff;
            }

        }
    }


    .filter-box{
        @include float();
    }
}


.ts-button{
    @include inline-block();
    padding:5px 15px;
    text-align: center;
    border-radius: 3px;
}

.btn-query{
    background: #ffd800;
    border:1px solid #ffd800;
    color:#8a5603;
    &:hover{
        background: #ff9000;
        border:1px solid #ff9000;
        color:#fff;
    }
}
.btn-favorites{
    background: #f7f7f7;
    border:1px solid #ccc;
    color:#999;
    &:hover{
        background: #fff;
        border:1px solid #f80;
        color:#f80;
    }
}

.btn-addcart{
    background: #ff8800;
    border:1px solid #ff8800;
    color:#fff;
    &:hover{
        background: #ff6600;
        border:1px solid #ff6600;
        color:#fff;
    }
}

.btn-disabled{
    background: #bfbfbf;
    border: 1px solid #bfbfbf;
    color: #fff;
    &:hover{
        background: #bfbfbf;
        border: 1px solid #bfbfbf;
        color: #fff;
    }
}


//搜索结果为空，即无品牌
.no-result{
    padding: 20px 20px 0 20px;
    background: #f4f4f4;
    position: relative;
    .n-r-say{
        height: 66px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #d6d6d6;
        background: url("../../images/stores/no-result.png") no-repeat 36px top;
        font-family: "Microsoft yahei";
        font-size: 16px;
        color: #666;
        p{
            padding-top: 10px;
            line-height: 20px;
            text-indent: 135px;
        }
        span{
            color: #d8271c;
        }
    }
    .n-r-recomed{
        line-height: 40px;
        span{
            color: #666;
        }
        a{
            color: #f80;
        }
    }
    .n-r-search{
        position: absolute;
        top: 37px;
        right: 25px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #fff;
        .n-r-text,.n-r-btn{
            border: 0;
        }
        .n-r-text{
            width: 140px;
            height: 25px;
            line-height: 25px;
            color: #999;
            padding-left: 5px;
        }
        .n-r-btn{
            width: 30px;
            height: 25px;
            margin: 1px;
            background: #f80 url("../../images/market/clearance/isearch-on.png") no-repeat center;
            border-radius: 0 3px 3px 0 ;
        }
    }
}




.js-img-center{
    @include inline-block();
    vertical-align:middle;
    font-size:0;
    text-align: center;
    img{
        vertical-align:middle;
    }
    span{
        @include inline-block();
        height:100%;vertical-align:middle;
    }
}


.icon-arr{
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 11px;
    height: 7px;
    i {
        position: absolute;
        left: 0;
        top: 0;
        border-style: solid;
        border-width: 5px;
        font-size: 0;
        height: 0;
        line-height: 0;
        overflow: hidden;
        border-color: #666 transparent transparent;
    }
    em{
        position: absolute;
        left: 0;
        border-style: solid;
        border-width: 5px;
        font-size: 0;
        height: 0;
        line-height: 0;
        overflow: hidden;

        top: -1px;
        border-color: #f5f8fa transparent transparent;
    }
}
.gw-warrnt,.gw-no-warrnt,.gw-no-area{
    @include inline-block;
    width: 15px;
    height: 15px;
    vertical-align: -4px;
    *margin-right: 5px;
    *vertical-align: middle;
}
.gw-warrnt{
    background: url("../../images/market/pro-info-icons.png") no-repeat -32px -72px;
}
.gw-no-warrnt{
    background: url("../../images/market/pro-info-icons.png") no-repeat -32px -104px;
}
.gw-no-area{
    background: url("../../images/market/pro-info-icons.png") no-repeat -32px -136px;
}