@charset "UTF-8";
.link{
  color:#08c;
}
html,body{
  overflow:hidden;
  background-color:#f0f0f0;
  //height:100%;
}

.shop-register {
    //height: 330px;

    h2 {
        display: block;
        text-align: center;
        color: #333;
        //text-shadow: 2px 2px 2px #111;
    }

    .register-box{
      //padding:10px 0;
      background-color:#fff;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      .btn-icon,.btn-text{
        display:inline-block;
        width:45%;
      }

    }
    .input-group-addon{
      border:0;
      background:none;
      border-radius:0;
      font-size: 24px;
      color:#aaa;
    }
    input{
      background-color:#fff;
      padding:30px 10px;
      border:0;
      font-size: 16px;
      border-radius:0;
      box-shadow:none;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;

      &:focus{
        outline:0;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
      }
    }
    input[type="password"]{
      //border-top:1px solid #ccc;
    }
}

.red{
  color: #e00;
}
.tac{
  text-align:center;
}
hr{margin:0;line-height:0;}

.icon{
  display:inline-block;
  background:url(/images/soft/appshop/icons-appshop-register.png) no-repeat;

}
.icon-apple{
    background-position: 0px -214px;
    width: 37px;
    height: 45px;
    vertical-align: -3px;
}
.icon-robot{
  background-position: 0 -293px;
  width: 34px;
  height: 45px;
  vertical-align: -3px;
}

.icon-phone{
  background-position: 0 0;
  width: 24px;
  height: 32px;
  vertical-align: -3px;
}
.icon-setting{
  background-position: 0 -72px;
  width: 27px;
  height: 27px;
  vertical-align: -3px;
}
.icon-lock{
  background-position: 0 -139px;
  width: 26px;
  height: 32px;
  vertical-align: -3px;
}

.mb20{ margin-bottom:20px}
