<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.brand.mapper.BrandLiceningMapper">
    <!-- 基础列 -->
    <sql id="brandLiceningColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.brandesId as brandesId ,
        a.domainName as domainName ,
        a.fileName as fileName ,
        a.imageName as imageName ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.createIp as createIp ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.brand.entity.BrandLicening">
        insert into BrandLicening(
         refrenceId ,
         brandId ,
         brandesId ,
         domainName ,
         fileName ,
         imageName ,
         createTime ,
         updateTime ,
         createIp ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{brandesId}  ,
        #{domainName}  ,
        #{fileName}  ,
        #{imageName}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{createIp}  ,
        #{delFlag}  
        )
    </insert>
    
    <!-- 批量添加 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into BrandLicening(
         refrenceId ,
         brandId ,
         brandesId ,
         domainName ,
         fileName ,
         imageName ,
         createTime ,
         updateTime ,
         createIp ,
         delFlag 
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator="," >  
        (       #{item.refrenceId} ,
       #{item.brandId} ,
       #{item.brandesId} ,
       #{item.domainName} ,
       #{item.fileName} ,
       #{item.imageName} ,
       #{item.createTime} ,
       #{item.updateTime} ,
       #{item.createIp} ,
       #{item.delFlag} 
)  
    	</foreach>
    </insert>
    
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from BrandLicening where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update BrandLicening set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.brand.entity.BrandLicening">
        insert into BrandLicening
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="brandesId != null">
            brandesId ,
        </if>
        <if test="domainName != null">
            domainName ,
        </if>
        <if test="fileName != null">
            fileName ,
        </if>
        <if test="imageName != null">
            imageName ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="createIp != null">
            createIp ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="brandesId != null">
            #{brandesId} ,
        </if>
        <if test="domainName != null">
            #{domainName} ,
        </if>
        <if test="fileName != null">
            #{fileName} ,
        </if>
        <if test="imageName != null">
            #{imageName} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="createIp != null">
            #{createIp} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.brand.entity.BrandLicening">
        update BrandLicening
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="brandesId != null">
                brandesId = #{brandesId} ,
            </if>
            <if test="domainName != null">
                domainName = #{domainName} ,
            </if>
            <if test="fileName != null">
                fileName = #{fileName} ,
            </if>
            <if test="imageName != null">
                imageName = #{imageName} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="createIp != null">
                createIp = #{createIp} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.brand.entity.BrandLicening">
        update BrandLicening set
            brandId = #{brandId} ,
            brandesId = #{brandesId} ,
            domainName = #{domainName} ,
            fileName = #{fileName} ,
            imageName = #{imageName} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            createIp = #{createIp} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.brand.entity.BrandLicening">
        select <include refid="brandLiceningColumns"/> from BrandLicening a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.brand.entity.BrandLicening">
        SELECT
        <include refid="brandLiceningColumns"/>
        FROM BrandLicening a WHERE a.delFlag = 0
        <if test="brandId != null and brandId != ''">
            and a.brandId like CONCAT('%',#{brandId}, '%')
        </if>
        <if test="brandesId != null and brandesId != ''">
            and a.brandesId like CONCAT('%',#{brandesId}, '%')
        </if>
        <if test="domainName != null and domainName != ''">
            and a.domainName like CONCAT('%',#{domainName}, '%')
        </if>
        <if test="fileName != null and fileName != ''">
            and a.fileName like CONCAT('%',#{fileName}, '%')
        </if>
        <if test="imageName != null and imageName != ''">
            and a.imageName like CONCAT('%',#{imageName}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
        <if test="createIp != null and createIp != ''">
            and a.createIp = #{createIp}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.brand.entity.BrandLicening">
        SELECT
        <include refid="brandLiceningColumns"/>
        FROM BrandLicening a WHERE a.delFlag = 0
    </select>
    
    <!-- 根据品牌商编号和品牌编号批量修改删除标志为删除状态 -->
    <update id="updateDelState" parameterType="com.zttx.web.module.brand.entity.BrandLicening">
        update BrandLicening set delFlag=#{delFlag} where brandId=#{brandId} and brandesId=#{brandesId}
    </update>
    
    <!-- 根据品牌商编号、品牌编号、删除标志 -->
    <select id="findByBrandsId" resultType="com.zttx.web.module.brand.entity.BrandLicening">
        SELECT
        <include refid="brandLiceningColumns"/>
        FROM BrandLicening a WHERE a.brandId=#{0} and a.brandesId=#{1} and a.delFlag = #{2} order by a.createTime desc
    </select>
</mapper>