<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.brand.mapper.BrandCardMapper">
    <!-- 基础列 -->
    <sql id="brandCardColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.certName as certName ,
        a.domainName as domainName ,
        a.certPhoto as certPhoto ,
        a.certImage as certImage ,
        a.certMark as certMark ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.createIp as createIp ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.brand.entity.BrandCard">
        insert into BrandCard(
         refrenceId ,
         brandId ,
         certName ,
         domainName ,
         certPhoto ,
         certImage ,
         certMark ,
         createTime ,
         updateTime ,
         createIp ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{certName}  ,
        #{domainName}  ,
        #{certPhoto}  ,
        #{certImage}  ,
        #{certMark}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{createIp}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from BrandCard where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update BrandCard set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.brand.entity.BrandCard">
        insert into BrandCard
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="certName != null">
            certName ,
        </if>
        <if test="domainName != null">
            domainName ,
        </if>
        <if test="certPhoto != null">
            certPhoto ,
        </if>
        <if test="certImage != null">
            certImage ,
        </if>
        <if test="certMark != null">
            certMark ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="createIp != null">
            createIp ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="certName != null">
            #{certName} ,
        </if>
        <if test="domainName != null">
            #{domainName} ,
        </if>
        <if test="certPhoto != null">
            #{certPhoto} ,
        </if>
        <if test="certImage != null">
            #{certImage} ,
        </if>
        <if test="certMark != null">
            #{certMark} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="createIp != null">
            #{createIp} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.brand.entity.BrandCard">
        update BrandCard
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="certName != null">
                certName = #{certName} ,
            </if>
            <if test="domainName != null">
                domainName = #{domainName} ,
            </if>
            <if test="certPhoto != null">
                certPhoto = #{certPhoto} ,
            </if>
            <if test="certImage != null">
                certImage = #{certImage} ,
            </if>
            <if test="certMark != null">
                certMark = #{certMark} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="createIp != null">
                createIp = #{createIp} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.brand.entity.BrandCard">
        update BrandCard set
            brandId = #{brandId} ,
            certName = #{certName} ,
            domainName = #{domainName} ,
            certPhoto = #{certPhoto} ,
            certImage = #{certImage} ,
            certMark = #{certMark} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            createIp = #{createIp} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.brand.entity.BrandCard">
        select <include refid="brandCardColumns"/> from BrandCard a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.brand.entity.BrandCard">
        SELECT
        <include refid="brandCardColumns"/>
        FROM BrandCard a WHERE a.delFlag = 0
        <if test="brandId != null and brandId != ''">
            and a.brandId like CONCAT('%',#{brandId}, '%')
        </if>
        <if test="certName != null and certName != ''">
            and a.certName like CONCAT('%',#{certName}, '%')
        </if>
        <if test="domainName != null and domainName != ''">
            and a.domainName like CONCAT('%',#{domainName}, '%')
        </if>
        <if test="certPhoto != null and certPhoto != ''">
            and a.certPhoto like CONCAT('%',#{certPhoto}, '%')
        </if>
        <if test="certImage != null and certImage != ''">
            and a.certImage like CONCAT('%',#{certImage}, '%')
        </if>
        <if test="certMark != null and certMark != ''">
            and a.certMark like CONCAT('%',#{certMark}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
        <if test="createIp != null and createIp != ''">
            and a.createIp = #{createIp}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.brand.entity.BrandCard">
        SELECT
        <include refid="brandCardColumns"/>
        FROM BrandCard a WHERE a.delFlag = 0
    </select>

    <select id="pageSearch" resultType="java.util.HashMap">
        select * from BrandCard bc
        where 1 = 1 AND delFlag = 0
        <if test="brandId != null">
            and bc.brandId = #{brandId}
        </if>
        order by bc.createTime desc
    </select>

    <select id="getEntity" resultType="com.zttx.web.module.brand.entity.BrandCard">
        select * from BrandCard a
        where a.refrenceId = #{refrenceId}
        and a.brandId = #{brandId}
        Limit 1
    </select>
</mapper>

