<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.brand.mapper.BrandFreightSettingsMapper">
    <!-- 基础列 -->
    <sql id="brandFreightSettingsColumns">
        a.refrenceId as refrenceId ,
        a.templateId as templateId ,
        a.carryType as carryType ,
        a.carryTypeName as carryTypeName ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        insert into BrandFreightSettings(
         refrenceId ,
         templateId ,
         carryType ,
         carryTypeName ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{templateId}  ,
        #{carryType}  ,
        #{carryTypeName}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from BrandFreightSettings where refrenceId = #{refrenceId}
    </delete>
    <!-- 根据主键物理删除 -->
    <delete id="removeByTemplateId" parameterType="java.lang.String">
        delete from BrandFreightSettings where templateId = #{templateId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update BrandFreightSettings set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        insert into BrandFreightSettings
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="templateId != null">
            templateId ,
        </if>
        <if test="carryType != null">
            carryType ,
        </if>
        <if test="carryTypeName != null">
            carryTypeName ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="templateId != null">
            #{templateId} ,
        </if>
        <if test="carryType != null">
            #{carryType} ,
        </if>
        <if test="carryTypeName != null">
            #{carryTypeName} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        update BrandFreightSettings
           <set>
            <if test="templateId != null">
                templateId = #{templateId} ,
            </if>
            <if test="carryType != null">
                carryType = #{carryType} ,
            </if>
            <if test="carryTypeName != null">
                carryTypeName = #{carryTypeName} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        update BrandFreightSettings set
            templateId = #{templateId} ,
            carryType = #{carryType} ,
            carryTypeName = #{carryTypeName} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        select <include refid="brandFreightSettingsColumns"/> from BrandFreightSettings a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        SELECT
        <include refid="brandFreightSettingsColumns"/>
        FROM BrandFreightSettings a WHERE a.delFlag = 0
        <if test="templateId != null and templateId != ''">
            and a.templateId like CONCAT('%',#{templateId}, '%')
        </if>
        <if test="carryType != null and carryType != ''">
            and a.carryType = #{carryType}
        </if>
        <if test="carryTypeName != null and carryTypeName != ''">
            and a.carryTypeName like CONCAT('%',#{carryTypeName}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        SELECT
        <include refid="brandFreightSettingsColumns"/>
        FROM BrandFreightSettings a WHERE a.delFlag = 0
    </select>

    <!-- 根据模板id查询模板设置 -->
    <select id="getCarryType" resultType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        SELECT
        <include refid="brandFreightSettingsColumns"/>
        FROM BrandFreightSettings a WHERE a.delFlag = 0  and a.templateId = #{0} and  (a.carryType=3 or a.carryType=4) order by a.carryType asc
    </select>

       <!-- 根据模板id查询模板设置列表 -->
    <select id="listByTemplateId" resultType="com.zttx.web.module.brand.entity.BrandFreightSettings">
        SELECT
        <include refid="brandFreightSettingsColumns"/>
        FROM BrandFreightSettings a WHERE a.delFlag = 0 and a.templateId = #{0} order by a.carryType asc
    </select>

</mapper>

