<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.brand.mapper.BrandLogisticsMapper">
    <!-- 基础列 -->
    <sql id="brandLogisticsColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.logisticName as logisticName ,
        a.logisticType as logisticType ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.brand.entity.BrandLogistics">
        insert into BrandLogistics(
         refrenceId ,
         brandId ,
         logisticName ,
         logisticType ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{logisticName}  ,
        #{logisticType}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from BrandLogistics where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update BrandLogistics set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.brand.entity.BrandLogistics">
        insert into BrandLogistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="logisticName != null">
            logisticName ,
        </if>
        <if test="logisticType != null">
            logisticType ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="logisticName != null">
            #{logisticName} ,
        </if>
        <if test="logisticType != null">
            #{logisticType} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.brand.entity.BrandLogistics">
        update BrandLogistics
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="logisticName != null">
                logisticName = #{logisticName} ,
            </if>
            <if test="logisticType != null">
                logisticType = #{logisticType} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.brand.entity.BrandLogistics">
        update BrandLogistics set
            brandId = #{brandId} ,
            logisticName = #{logisticName} ,
            logisticType = #{logisticType} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.brand.entity.BrandLogistics">
        select <include refid="brandLogisticsColumns"/> from BrandLogistics a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.brand.entity.BrandLogistics">
        SELECT
        <include refid="brandLogisticsColumns"/>
        FROM BrandLogistics a WHERE a.delFlag = 0
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="logisticName != null and logisticName != ''">
            and a.logisticName like CONCAT('%',#{logisticName}, '%')
        </if>
        <if test="logisticType != null and logisticType != ''">
            and a.logisticType = #{logisticType}
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.brand.entity.BrandLogistics">
        SELECT
        <include refid="brandLogisticsColumns"/>
        FROM BrandLogistics a WHERE a.delFlag = 0
    </select>

    <select id="listByBrandId" resultType="com.zttx.web.module.brand.entity.BrandLogistics">
        select <include refid="brandLogisticsColumns"/>
        from BrandLogistics a
        where a.delFlag = 0 And (a.brandId = #{brandId} or a.logisticType = 0)
        order by a.createTime asc
    </select>
</mapper>

