<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.brand.mapper.BrandStoreMapper">
    <!-- 基础列 -->
    <sql id="brandStoreColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.brandsId as brandsId ,
        a.storeName as storeName ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.brand.entity.BrandStore">
        insert into BrandStore(
         refrenceId ,
         brandId ,
         brandsId ,
         storeName ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{brandsId}  ,
        #{storeName}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from BrandStore where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update BrandStore set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.brand.entity.BrandStore">
        insert into BrandStore
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="brandsId != null">
            brandsId ,
        </if>
        <if test="storeName != null">
            storeName ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="brandsId != null">
            #{brandsId} ,
        </if>
        <if test="storeName != null">
            #{storeName} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.brand.entity.BrandStore">
        update BrandStore
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="brandsId != null">
                brandsId = #{brandsId} ,
            </if>
            <if test="storeName != null">
                storeName = #{storeName} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.brand.entity.BrandStore">
        update BrandStore set
            brandId = #{brandId} ,
            brandsId = #{brandsId} ,
            storeName = #{storeName} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.brand.entity.BrandStore">
        select <include refid="brandStoreColumns"/> from BrandStore a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.brand.entity.BrandStore">
        SELECT
        <include refid="brandStoreColumns"/>
        FROM BrandStore a WHERE a.delFlag = 0
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>
        <if test="storeName != null and storeName != ''">
            and a.storeName like CONCAT('%',#{storeName}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.brand.entity.BrandStore">
        SELECT
        <include refid="brandStoreColumns"/>
        FROM BrandStore a WHERE a.delFlag = 0
    </select>

    <select id="findBrandStore" parameterType="com.zttx.web.module.brand.entity.BrandStore" resultType="com.zttx.web.module.brand.entity.BrandStore">
        SELECT
        <include refid="brandStoreColumns"/>
        FROM BrandStore a WHERE a.delFlag = 0
        <if test="refrenceId != null and refrenceId != ''">
            and a.refrenceId = #{refrenceId}
        </if>
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>
        <if test="storeName != null and storeName != ''">
            and a.storeName like CONCAT('%',#{storeName}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
        ORDER BY a.createTime desc
        LIMIT 1
    </select>
</mapper>

