<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.brand.mapper.BrandNewsMapper">
    <!-- 基础列 -->
    <sql id="brandNewsColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.brandsId as brandsId ,
        a.newsTitle as newsTitle ,
        a.cateId as cateId ,
        a.imageDomin as imageDomin ,
        a.imageUrl as imageUrl ,
        a.newsSummary as newsSummary ,
        a.newsContent as newsContent ,
        a.cronTime as cronTime ,
        a.hitNum as hitNum ,
        a.interestNum as interestNum ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.brand.entity.BrandNews">
        insert into BrandNews(
         refrenceId ,
         brandId ,
         brandsId ,
         newsTitle ,
         cateId ,
         imageDomin ,
         imageUrl ,
         newsSummary ,
         newsContent ,
         cronTime ,
         hitNum ,
         interestNum ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{brandsId}  ,
        #{newsTitle}  ,
        #{cateId}  ,
        #{imageDomin}  ,
        #{imageUrl}  ,
        #{newsSummary}  ,
        #{newsContent}  ,
        #{cronTime}  ,
        #{hitNum}  ,
        #{interestNum}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from BrandNews where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update BrandNews set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.brand.entity.BrandNews">
        insert into BrandNews
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="brandsId != null">
            brandsId ,
        </if>
        <if test="newsTitle != null">
            newsTitle ,
        </if>
        <if test="cateId != null">
            cateId ,
        </if>
        <if test="imageDomin != null">
            imageDomin ,
        </if>
        <if test="imageUrl != null">
            imageUrl ,
        </if>
        <if test="newsSummary != null">
            newsSummary ,
        </if>
        <if test="newsContent != null">
            newsContent ,
        </if>
        <if test="cronTime != null">
            cronTime ,
        </if>
        <if test="hitNum != null">
            hitNum ,
        </if>
        <if test="interestNum != null">
            interestNum ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="brandsId != null">
            #{brandsId} ,
        </if>
        <if test="newsTitle != null">
            #{newsTitle} ,
        </if>
        <if test="cateId != null">
            #{cateId} ,
        </if>
        <if test="imageDomin != null">
            #{imageDomin} ,
        </if>
        <if test="imageUrl != null">
            #{imageUrl} ,
        </if>
        <if test="newsSummary != null">
            #{newsSummary} ,
        </if>
        <if test="newsContent != null">
            #{newsContent} ,
        </if>
        <if test="cronTime != null">
            #{cronTime} ,
        </if>
        <if test="hitNum != null">
            #{hitNum} ,
        </if>
        <if test="interestNum != null">
            #{interestNum} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.brand.entity.BrandNews">
        update BrandNews
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="brandsId != null">
                brandsId = #{brandsId} ,
            </if>
            <if test="newsTitle != null">
                newsTitle = #{newsTitle} ,
            </if>
            <if test="cateId != null">
                cateId = #{cateId} ,
            </if>
            <if test="imageDomin != null">
                imageDomin = #{imageDomin} ,
            </if>
            <if test="imageUrl != null">
                imageUrl = #{imageUrl} ,
            </if>
            <if test="newsSummary != null">
                newsSummary = #{newsSummary} ,
            </if>
            <if test="newsContent != null">
                newsContent = #{newsContent} ,
            </if>
            <if test="cronTime != null">
                cronTime = #{cronTime} ,
            </if>
            <if test="hitNum != null">
                hitNum = #{hitNum} ,
            </if>
            <if test="interestNum != null">
                interestNum = #{interestNum} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.brand.entity.BrandNews">
        update BrandNews set
            brandId = #{brandId} ,
            brandsId = #{brandsId} ,
            newsTitle = #{newsTitle} ,
            cateId = #{cateId} ,
            imageDomin = #{imageDomin} ,
            imageUrl = #{imageUrl} ,
            newsSummary = #{newsSummary} ,
            newsContent = #{newsContent} ,
            cronTime = #{cronTime} ,
            hitNum = #{hitNum} ,
            interestNum = #{interestNum} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.brand.entity.BrandNews">
        select <include refid="brandNewsColumns"/> from BrandNews a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.brand.entity.BrandNews">
        SELECT
        <include refid="brandNewsColumns"/>
        FROM BrandNews a WHERE a.delFlag = 0
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>
        <if test="newsTitle != null and newsTitle != ''">
            and a.newsTitle like CONCAT('%',#{newsTitle}, '%')
        </if>
        <if test="cateId != null and cateId != ''">
            and a.cateId like CONCAT('%',#{cateId}, '%')
        </if>
        <if test="imageDomin != null and imageDomin != ''">
            and a.imageDomin like CONCAT('%',#{imageDomin}, '%')
        </if>
        <if test="imageUrl != null and imageUrl != ''">
            and a.imageUrl like CONCAT('%',#{imageUrl}, '%')
        </if>
        <if test="newsSummary != null and newsSummary != ''">
            and a.newsSummary like CONCAT('%',#{newsSummary}, '%')
        </if>
        <if test="newsContent != null and newsContent != ''">
            and a.newsContent like CONCAT('%',#{newsContent}, '%')
        </if>
        <if test="cronTime != null and cronTime != ''">
            and a.cronTime = #{cronTime}
        </if>
        <if test="hitNum != null and hitNum != ''">
            and a.hitNum = #{hitNum}
        </if>
        <if test="interestNum != null and interestNum != ''">
            and a.interestNum = #{interestNum}
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.brand.entity.BrandNews">
        SELECT
        <include refid="brandNewsColumns"/>
        FROM BrandNews a WHERE a.delFlag = 0
    </select>
    
    
    <!-- 根据主键逻辑删除 -->
    <update id="addHitNum" parameterType="java.lang.String">        
        update BrandNews set hitNum= hitNum +1 where refrenceId = #{refrenceId}
    </update>
    
    <!-- 可分页的对象查询 -->
    <select id="listBrandNews" resultType="map">
        SELECT a.refrenceId as refrenceId, a.newsTitle as newsTitle, a.newsSummary as newsSummary,a.imageUrl,
        a.cronTime as cronTime, a.createTime as createTime, a.updateTime as updateTime, a.brandId as brandId, 
        a.brandsId as brandsId, b.brandsName as brandName, c.cateName as cateName 
        FROM BrandNews a, BrandesInfo b, BrandNewscate c WHERE a.delFlag = 0 and a.cateId = c.refrenceId and a.brandsId = b.refrenceId
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>
        <if test="newsTitle != null and newsTitle != ''">
            and a.newsTitle like CONCAT('%',#{newsTitle}, '%')
        </if>
        <if test="cateId != null and cateId != ''">
            and a.cateId = #{cateId}
        </if>
        <if test="newsSummary != null and newsSummary != ''">
            and a.newsSummary like CONCAT('%',#{newsSummary}, '%')
        </if>
        <if test="newsContent != null and newsContent != ''">
            and a.newsContent like CONCAT('%',#{newsContent}, '%')
        </if>
        <if test="state != null and state != ''">
	        <choose>
	           	<when test="state == 0">
	           		and a.cronTime &gt; #{nowtime}
	           	</when>
	           	<when test="state == 1">
	           		and a.cronTime &lt;= #{nowtime}
	           	</when>
	           	<otherwise> 
				</otherwise> 
	         </choose>
         </if>
          order by a.createTime desc 
    </select>
</mapper>

