/* CSS Document */
@charset "utf-8";
/**
 * @name: 全局配置样式
 * @author: TXSB.ZXB
 * @copyright:  http://www.8637.com/
 * @update: 2014.1.16
 */


// 颜色配置
$linkColor:#08c;        // 链接颜色
$mainColor:#b00;        // 主色调
$fontColor:#333;        // 文本颜色
$borderColor:#ccc;        // 文本颜色
$inputBorderColor:#777;        // 文本颜色
$red:$mainColor;        // 文本颜色
$orange:#f80;        // 文本颜色
$orange:#f80;        // 文本颜色