@charset "UTF-8";

.ui-dialog,.remind-dialog{
    border: #bababa solid 1px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
}
.ui-dialog{
    min-height: 100px;
    _height: 100px;
    padding-bottom: 10px;
    outline: none;
    .ui-dialog-close{
        color: #ababab;
        cursor: pointer;
        font-family: tahoma;
        font-size: 22px;
        font-weight: bold;
        height: 18px;
        line-height: 1;
        position: absolute;
        right: 7px;
        text-decoration: none;
        top: 12px;
        z-index: 10;
    }
    .ui-dialog-content{
        position: relative;
    }
  .ui-head{
        height: 45px;
        border-bottom: #ccc solid 1px;
        background: #fafafa;
        h3{
            font: 16px/45px "微软雅黑";
            padding-left:1em;
        }
    }
}
.confirm_bd{
  padding-bottom: 0px;
  p{
    margin-top: 25px;
    font: 14px "微软雅黑";
    text-align: center;
  }
  .operate{
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    .confirm_btn,.cancel_btn{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 84px;
      text-align: center;
      height: 28px;
      line-height: 28px;
      background: #f5f5f5;
      border: #bdbbb9 solid 1px;
      border-radius: 3px;
      color: #333;
      &:hover{
        background: #eee;
      }
    }
    .confirm_btn,.confirm{
      margin-right: 10px;
      background: #c00;
      border: 1px solid #c00;
      color: #fff;
    }
    .simple_button{
      width: 95px;
      height: 33px;
      line-height: 33px;
      font-size: 14px;
      font-family: "microsoft yahei";
      border-color: #e8e8e8;
      padding: 0;
    }
  }
}
.remind-dialog{
    .remind{
        font-size: 18px;
        line-height: 30px;
        padding: 10px;
    }
    .remind-icon {
        background: url("/images/common/icon_warn.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        height: 30px;
        margin-right: 6px;
        vertical-align: middle;
        width: 28px;
    }
    .remind-icon-error {
        background-position: -97px -48px;
    }
    .remind-icon-warning {
        background-position: -99px -98px;
    }
    .remind-icon-success {
        background-position: -100px 0;
    }
}
.ui-dialog{
  outline: none;
  .ui-dialog-close{
    display: none;
  }
  .ui-dialog-content{
    .operate {
      padding-top: 10px;
      border-top: 1px solid #ccc;
    }
    .simple_button {
      width: 95px;
      height: 33px;
      line-height: 33px;
      font-size: 14px;
      font-family: "microsoft yahei";
      border-color: #e8e8e8;
      padding: 0;
      &:hover{
        text-decoration: none;
      }
    }
    .confirm_btn{
      background: #c00;
      border:1px solid #c00;
      color:#fff;
      &:hover{
        color: #fff;
        background: #b10000;
      }
    }
    .confirm_bd{
      padding-bottom: 0;
    }
  }
}