<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.dealer.mapper.DealerTerminaMapper">
    <!-- 基础列 -->
    <sql id="dealerTerminaColumns">
        a.refrenceId as refrenceId ,
        a.dealerId as dealerId ,
        a.brandId as brandId ,
        a.brandsId as brandsId ,
        a.logoName as logoName ,
        a.domainName as domainName ,
        a.terminaTime as terminaTime ,
        a.userId as userId ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.dealer.entity.DealerTermina">
        insert into DealerTermina(
         refrenceId ,
         dealerId ,
         brandId ,
         brandsId ,
         logoName ,
         domainName ,
         terminaTime ,
         userId ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{dealerId}  ,
        #{brandId}  ,
        #{brandsId}  ,
        #{logoName}  ,
        #{domainName}  ,
        #{terminaTime}  ,
        #{userId}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from DealerTermina where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update DealerTermina set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.dealer.entity.DealerTermina">
        insert into DealerTermina
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="dealerId != null">
            dealerId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="brandsId != null">
            brandsId ,
        </if>
        <if test="logoName != null">
            logoName ,
        </if>
        <if test="domainName != null">
            domainName ,
        </if>
        <if test="terminaTime != null">
            terminaTime ,
        </if>
        <if test="userId != null">
            userId ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="dealerId != null">
            #{dealerId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="brandsId != null">
            #{brandsId} ,
        </if>
        <if test="logoName != null">
            #{logoName} ,
        </if>
        <if test="domainName != null">
            #{domainName} ,
        </if>
        <if test="terminaTime != null">
            #{terminaTime} ,
        </if>
        <if test="userId != null">
            #{userId} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.dealer.entity.DealerTermina">
        update DealerTermina
           <set>
            <if test="dealerId != null">
                dealerId = #{dealerId} ,
            </if>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="brandsId != null">
                brandsId = #{brandsId} ,
            </if>
            <if test="logoName != null">
                logoName = #{logoName} ,
            </if>
            <if test="domainName != null">
                domainName = #{domainName} ,
            </if>
            <if test="terminaTime != null">
                terminaTime = #{terminaTime} ,
            </if>
            <if test="userId != null">
                userId = #{userId} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.dealer.entity.DealerTermina">
        update DealerTermina set
            dealerId = #{dealerId} ,
            brandId = #{brandId} ,
            brandsId = #{brandsId} ,
            logoName = #{logoName} ,
            domainName = #{domainName} ,
            terminaTime = #{terminaTime} ,
            userId = #{userId} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.dealer.entity.DealerTermina">
        select <include refid="dealerTerminaColumns"/> from DealerTermina a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.dealer.entity.DealerTermina">
        SELECT
        <include refid="dealerTerminaColumns"/>
        FROM DealerTermina a WHERE a.delFlag = 0
        <if test="dealerId != null and dealerId != ''">
            and a.dealerId like CONCAT('%',#{dealerId}, '%')
        </if>
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>
        <if test="logoName != null and logoName != ''">
            and a.logoName like CONCAT('%',#{logoName}, '%')
        </if>
        <if test="domainName != null and domainName != ''">
            and a.domainName like CONCAT('%',#{domainName}, '%')
        </if>
        <if test="terminaTime != null and terminaTime != ''">
            and a.terminaTime = #{terminaTime}
        </if>
        <if test="userId != null and userId != ''">
            and a.userId like CONCAT('%',#{userId}, '%')
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.dealer.entity.DealerTermina">
        SELECT
        <include refid="dealerTerminaColumns"/>
        FROM DealerTermina a WHERE a.delFlag = 0
    </select>
</mapper>

