<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.dealer.mapper.DealerFavtagMapper">
    <!-- 基础列 -->
    <sql id="dealerFavtagColumns">
        a.refrenceId as refrenceId ,
        a.dealerId as dealerId ,
        a.tagName as tagName ,
        a.productNum as productNum ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.dealer.entity.DealerFavtag">
        insert into DealerFavtag(
         refrenceId ,
         dealerId ,
         tagName ,
         productNum ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{dealerId}  ,
        #{tagName}  ,
        #{productNum}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from DealerFavtag where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update DealerFavtag set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.dealer.entity.DealerFavtag">
        insert into DealerFavtag
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="dealerId != null">
            dealerId ,
        </if>
        <if test="tagName != null">
            tagName ,
        </if>
        <if test="productNum != null">
            productNum ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="dealerId != null">
            #{dealerId} ,
        </if>
        <if test="tagName != null">
            #{tagName} ,
        </if>
        <if test="productNum != null">
            #{productNum} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} ,
        </if>
        <if test="delFlag != null">
            #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.dealer.entity.DealerFavtag">
        update DealerFavtag
           <set>
            <if test="dealerId != null">
                dealerId = #{dealerId} ,
            </if>
            <if test="tagName != null">
                tagName = #{tagName} ,
            </if>
            <if test="productNum != null">
                productNum = #{productNum} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.dealer.entity.DealerFavtag">
        update DealerFavtag set
            dealerId = #{dealerId} ,
            tagName = #{tagName} ,
            productNum = #{productNum} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.dealer.entity.DealerFavtag">
        select <include refid="dealerFavtagColumns"/> from DealerFavtag a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.dealer.entity.DealerFavtag">
        SELECT
        <include refid="dealerFavtagColumns"/>
        FROM DealerFavtag a WHERE a.delFlag = 0
        <if test="dealerId != null and dealerId != ''">
            and a.dealerId like CONCAT('%',#{dealerId}, '%')
        </if>
        <if test="tagName != null and tagName != ''">
            and a.tagName like CONCAT('%',#{tagName}, '%')
        </if>
        <if test="productNum != null and productNum != ''">
            and a.productNum = #{productNum}
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.dealer.entity.DealerFavtag">
        SELECT
        <include refid="dealerFavtagColumns"/>
        FROM DealerFavtag a WHERE a.delFlag = 0
    </select>
</mapper>

