<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.dealer.mapper.DealerShopEnvImgTempMapper">
    <!-- 基础列 -->
    <sql id="dealerShopEnvImgTempColumns">
        a.refrenceId as refrenceId ,
        a.shopEnvId as shopEnvId ,
        a.imagePath as imagePath ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        insert into DealerShopEnvImgTemp(
         refrenceId ,
         shopEnvId ,
         imagePath ,
         createTime ,
         updateTime ,
         delFlag 
        ) VALUES (
        #{refrenceId}  ,
        #{shopEnvId}  ,
        #{imagePath}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}  
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        insert into DealerShopEnvImgTemp(
        refrenceId ,
        shopEnvId ,
        imagePath ,
        createTime ,
        updateTime ,
        delFlag
        ) VALUES
        <foreach collection="list" item="dealerShopEnvImgTemp" separator=",">
            (
            #{dealerShopEnvImgTemp.refrenceId} ,
            #{dealerShopEnvImgTemp.shopEnvId} ,
            #{dealerShopEnvImgTemp.imagePath} ,
            #{dealerShopEnvImgTemp.createTime} ,
            #{dealerShopEnvImgTemp.updateTime} ,
            #{dealerShopEnvImgTemp.delFlag}
            )
        </foreach>
    </insert>

    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from DealerShopEnvImgTemp where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update DealerShopEnvImgTemp set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        insert into DealerShopEnvImgTemp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                refrenceId ,
            </if>
            <if test="shopEnvId != null">
                shopEnvId ,
            </if>
            <if test="imagePath != null">
                imagePath ,
            </if>
            <if test="createTime != null">
                createTime ,
            </if>
            <if test="updateTime != null">
                updateTime ,
            </if>
            <if test="delFlag != null">
                delFlag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                #{refrenceId} ,
            </if>
            <if test="shopEnvId != null">
                #{shopEnvId} ,
            </if>
            <if test="imagePath != null">
                #{imagePath} ,
            </if>
            <if test="createTime != null">
                #{createTime} ,
            </if>
            <if test="updateTime != null">
                #{updateTime} ,
            </if>
            <if test="delFlag != null">
                #{delFlag}
            </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        update DealerShopEnvImgTemp
        <set>
            <if test="shopEnvId != null">
                shopEnvId = #{shopEnvId} ,
            </if>
            <if test="imagePath != null">
                imagePath = #{imagePath} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag}
            </if>
        </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        update DealerShopEnvImgTemp set
            shopEnvId = #{shopEnvId} ,
            imagePath = #{imagePath} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        select
        <include refid="dealerShopEnvImgTempColumns"/>
        from DealerShopEnvImgTemp a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        SELECT
        <include refid="dealerShopEnvImgTempColumns"/>
        FROM DealerShopEnvImgTemp a WHERE a.delFlag = 0
        <if test="shopEnvId != null and shopEnvId != ''">
            and a.shopEnvId like CONCAT('%',#{shopEnvId}, '%')
        </if>
        <if test="imagePath != null and imagePath != ''">
            and a.imagePath like CONCAT('%',#{imagePath}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.dealer.entity.DealerShopEnvImgTemp">
        SELECT
        <include refid="dealerShopEnvImgTempColumns"/>
        FROM DealerShopEnvImgTemp a WHERE a.delFlag = 0
    </select>
</mapper>

