<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.dealer.mapper.OrderNumberMapper">
    <!-- 基础列 -->
    <sql id="orderNumberColumns">
        a.orderId as orderId ,
        a.createTime as createTime 
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.dealer.entity.OrderNumber">
        <selectKey resultType="string" order="AFTER" keyProperty="refrenceId">
            select @@IDENTITY as refrenceId
        </selectKey>
        insert into OrderNumber(
         createTime
        ) VALUES (
        #{createTime}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from OrderNumber where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update OrderNumber set delFlag = true where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.dealer.entity.OrderNumber">
        insert into OrderNumber
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="orderId != null">
            orderId ,
        </if>
        <if test="createTime != null">
            createTime 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="orderId != null">
            #{orderId} ,
        </if>
        <if test="createTime != null">
            #{createTime} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.dealer.entity.OrderNumber">
        update OrderNumber
           <set>
            <if test="createTime != null">
                createTime = #{createTime} 
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.dealer.entity.OrderNumber">
        update OrderNumber set
            createTime = #{createTime} 
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.dealer.entity.OrderNumber">
        select <include refid="orderNumberColumns"/> from OrderNumber a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.dealer.entity.OrderNumber">
        SELECT
        <include refid="orderNumberColumns"/>
        FROM OrderNumber a WHERE a.delFlag = 0
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.dealer.entity.OrderNumber">
        SELECT
        <include refid="orderNumberColumns"/>
        FROM OrderNumber a WHERE a.delFlag = 0
    </select>
</mapper>

