@charset "utf-8";
a:hover{text-decoration: none;}
.ui-checkbox{ vertical-align: -2px;}

.all-prodisshow{ padding:0 0 20px 0}
.prodisshow{ width:1200px; margin:0 auto; position: relative;}
.prodisshow .comsite{ margin:0 0 15px 0; padding-top: 35px; overflow: hidden; position: relative; *zoom:1; font-family: "microsoft yahei";}
.prodisshow .comsite a:hover{ text-decoration:none}
.prodisshow .comsite .comlogobox{ width: 85px; height: 85px; overflow: hidden; margin:0 20px 0 0}
.prodisshow .comsite .comname{ font-size:36px; font-weight:600; color:#333}
.prodisshow .comsite .comname span{ font-size:12px; font-weight:400; font-family: '宋体',Verdana; padding:0 0 0 20px; position:absolute; color:#666; margin:8px 0 0 0}
.prodisshow .comsite .comclassic{ background:url(../../../images/fronts/market/yuan.gif) no-repeat left bottom; width:650px; height:40px; overflow:hidden}
.prodisshow .comsite .comclassic a{ display:block; width:100px; height:39px; float:left; margin-right:30px; font-family: '宋体',Verdana; text-indent:1em; color:#666}
.prodisshow .comsite .comclassic a.selected{ background:url(../../../images/fronts/market/zd.jpg) no-repeat 5px 21px}
.prodisshow .comsite .purchase{position: absolute; right: 0; top:35px;}
.prodisshow .comsite .purchase a.quick-order{ displxay:block; background:#f95959; width:190px; height:33px; color:#fff; font-size:18px; padding:0 10px; line-height:33px}
.prodisshow .comsite .purchase a.quick-order:hover{ text-decoration:none;filter:alpha(opacity=70) ;opacity: 0.7;}
.prodisshow .comsite .purchase a.quick-order span{ font-size:12px; font-family: '宋体',Verdana; padding:0 0 0 30px}
.prodisshow .comsite .purchase p.font{ color:#999; padding-top:5px; text-align: right;}
.prodisshow .comsite .purchase a.return-pic{width:115px; margin-left: 95px; margin-top: 5px; padding:5px 0; display:block; text-align:center; background: #999; color: #fff}
.prodisshow .comsite .purchase a.return-pic:hover{filter:alpha(opacity=70) ;opacity: 0.7;}
.prodisshow .comsite .purchase a.return-pic .return-pic-icon{ width: 21px; height:19px; background: url("../../../images/fronts/market/return-pic.png") no-repeat; vertical-align: -5px; }
.prodisshow p.title{ font-size:16px; color:#333; padding:0 0 20px 100px}
.prodisshow .photoshow{ overflow: hidden;}
.prodisshow .photoshow li{ width:450px; height:280px; float:left; border:1px #ccc solid; margin:0 0 0 100px; _margin:0 0 0 50px; background:#FFF; text-align:center;}
/*产品展示主体*/
.prodisshow .showbody{ border:1px solid #ccc; overflow:hidden; background:#fff}

.prodisshow .showbody .storeclass{ background: #f3f3f3; border-bottom:1px solid #ccc; overflow:hidden; position:relative; }
.prodisshow .showbody .storeclass a.selected{ color:#333}
.prodisshow .showbody .storeclass div.title{ width: 86px; text-align: center; line-height: 40px; font-weight: 600; color:#666; }
.prodisshow .showbody .storeclass div.title span{ position: absolute; top: 10px; left: 20px; }
.prodisshow .showbody .storeclass .store-all{}
.prodisshow .showbody .storeclass .storeclassul{overflow: hidden;*zoom:1; width:1111px; border-left: 1px solid #e5e5e5;}
.prodisshow .showbody .storeclass .store-mainclass{ /*height: 80px;*/}/*第一个分类的高度*/
.prodisshow .showbody .storeclass .store-subclass{ height: 40px;}/*获取内容处的容器的高度*/
.prodisshow .showbody .storeclass .storeclassul li{ float:left; margin-left: 15px; line-height:39px}
.prodisshow .showbody .storeclass .storeclassul li a{color: #666; padding:5px 10px}
.prodisshow .showbody .storeclass .storeclassul li a:hover{ background: #eee; }
.prodisshow .showbody .storeclass .storeclassul li.active a{background: #eee;}
.prodisshow .showbody .storeclass .store-all .tagger-btn{ background: #eee; color: #999; height: 22px; display: inline-block; line-height: 22px; padding:0 15px;}
.prodisshow .showbody .storeclass .store-all a.tagger-btn:hover{ background: #f95a59; color: #fff}
.prodisshow .showbody .storeclass .storeclassul li a.selected{ color: #f85a59}

.prodisshow .showbody .sizeclass{ border-bottom:1px solid #ccc; z-index: 1; position:relative; color: #666;}
.prodisshow .showbody .sizeclass a{ color:#999}
.prodisshow .showbody .sizeclass a:hover{ text-decoration:none}
.prodisshow .showbody .sizeclass a.selected{ color:#333}
.prodisshow .showbody .sizeclass div.title{ width:86px; text-align: center; font-weight:600;color:#666;}
.prodisshow .showbody .sizeclass .sizeclassul {*zoom:1; width:1105px; background: #f3f3f3;}
.prodisshow .showbody .sizeclass .sizeclassul li{ float:left; padding:10px 0 10px 10px; cursor:pointer}
.prodisshow .showbody .sizeclass .sizeclassul li a{ color: #666; padding: 7px 15px;}
.showbody .sizeclass .sizeclassul li a i.sizeclass-defico{ width: 9px; height: 9px; padding-left: 9px; background: url("../../../images/fronts/market/more-selecter.gif") no-repeat; *vertical-align: 4px;}
.showbody .sizeclass .sizeclassul li a i.sizeclass-anoico{ width: 9px; height: 9px; padding-left: 9px; background: url("../../../images/fronts/market/more-selecter.gif") no-repeat -19px 0;*vertical-align: 4px;}

.showbody .sizeclass .sizeclassul .sizeclass-filter{ display: none}
.showbody .sizeclass .sizeclass-filter{ position: absolute; display: none; width: 1056px; min-height: 40px; padding: 0 25px; background: #e1e1e1; left: 92px; top: 32px; *top:29px;}
.showbody .sizeclass .sizeclass-filter label{ margin-right: 15px; line-height: 40px;}
.showbody .sizeclass .sizeclass-filter label .ckeckbox{ vertical-align: -2px; margin-right: 5px}

.prodisshow .showbody .selectbar{ padding:0 20px; background:#e1e1e1; margin-top: 10px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; height:35px; color:#999; line-height:35px; overflow:hidden; position:relative}
.prodisshow .showbody .sizeclass h3.title2{color:#999; background:#f3f3f3; height:78px; font-weight:400; padding:0 18px 0 20px; line-height:39px}
.prodisshow .showbody .selectbar li .selectbar-wbg{ background:#fff; padding:7px 10px; height:25px; margin:0 10px 0 0; color:#999}
.prodisshow .showbody .selectbar li .selectbar-wbg:hover{background: #F95959; color: #fff;}
.prodisshow .showbody .selectbar li .selectbar-wbg.active{background: #F95959; color: #fff;}
.prodisshow .showbody .selectbar li a:hover{ text-decoration:none}
.prodisshow .showbody .selectbar li{ float:left;line-height:35px;}
.prodisshow .showbody .selectbar input.text1{ height:22px; width:67px; margin:4px 5px 0 0; *line-height:26px; line-height:26px \9; text-indent:0.4em; border:1px #ccc solid; color:#999}
.prodisshow .showbody .selectbar input.text2{ height:22px; width:195px; margin:4px 5px 0 0; *line-height:26px; line-height:26px \9; text-indent:0.4em; border:1px #ccc solid; color:#999}
.prodisshow .showbody .selectbar input.button{ height:26px; width:71px; border:0; background:#f95959; font-family: '宋体',Verdana; color:#fff; margin:4px 5px 0 0;}
.height{ height:39px}
.prodisshow .showbody .selectbar .selectbar-namenumber{ position: absolute; right: 10px;}
.prodisshow .showbody .selectbar .selectbar-namenumber .return-pictures{ height: 26px; line-height: 26px; display: inline-block; padding: 0 10px; margin: 4px 5px 0 0; background: #999; color: #fff;}
.return-pictures .return-pic-icon{ width: 21px; height:19px; display: inline-block; background: url("../../../images/fronts/market/return-pic.png") no-repeat; vertical-align: -5px;*vertical-align: -2px;}

/*products*/
.prodisshow .showbody .products{ min-height: 300px; padding:0 0 15px 0;}
.prodisshow .showbody .products .screen-bar{ background: #f3f3f3; padding: 12px 15px; color: #999;}
.prodisshow .showbody .products .screen-bar .tit{ font-weight: 600;}
.prodisshow .showbody .products .screen-bar label{ margin-right: 10px;}
.prodisshow .showbody .products .productsul{ /*width:1030px*/ margin:0 -12px 35px 10px; overflow: hidden;}
.prodisshow .showbody .products li.box{ overflow:hidden; float:left; display: inline; width:220px; height: 375px; border: 1px solid #ddd; background: #fff; padding-bottom: 10px; position: relative; margin:15px 17px 0 0;}
.prodisshow .showbody .products li.box:hover{border: 1px solid #ce0000;}
.prodisshow .showbody .products li.box .title{ color:#333; margin:10px 10px 0 10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.prodisshow .showbody .products li.box .title a{ color:#333;}
.prodisshow .showbody .products li.box .title a:hover{ text-decoration:none}
.prodisshow .showbody .products li.box .pricebox{ margin: 0 10px; color: #ce0000;}
.prodisshow .showbody .products li.box span.liang{display:inline-block;*display:inline;*zoom:1;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;word-wrap: normal;}
.prodisshow .showbody .products li.box span.price{ font-size:16px;font-family:'微软雅黑';  height: 23px;vertical-align: -1px;}
.prodisshow .showbody .products li.box .human{margin-top:5px;color: #666;}
.prodisshow .showbody .products li.box span.price-des{ display: inline-block;*display: inline; *zoom: 1; width: 180px; padding: 0 5px; background:#fc595a;color: #fff;}
.prodisshow .showbody .products li.box .joinbox{ margin:5px 0 5px 10px;color:#999;}
.prodisshow .showbody .products li.box .collect{position: absolute;bottom: 5px;left: 10px;}
.prodisshow .showbody .products li.box .collect {
  a{
    display:inline-block;
    *display: inline;
    *zoom:1;
    //float:left;
    width:88px;
    height:25px;
    color:#fff;
    background: #ff8800;
    border:1px solid #ff8800;
    text-align:center;
    line-height:25px;
    margin:5px 10px 0 0;
    border-radius: 3px;
    &:active{
      position: relative;
      top: 1px;
      box-shadow: 1px 1px 3px #999 inset;
    }
  }
  .cath{

  }
  .favorite{
      background: #fff;
      border:1px solid #ccc;
      color: #999;
  }
  .disabled{
      background: #bfbfbf;
      border: 1px solid #bfbfbf;
      color: #fff;
      cursor: default;
    &:active{
      position: relative;
      top: 0;
      box-shadow: none;
    }
  }
}
.prodisshow .showbody .products li.box .boor-empower{margin-top:2px;margin-left: 10px;}
li.box .boor-empower .book,li.box .boor-empower .empower{color: #fff; padding: 0 5px;}
li.box .boor-empower .book{background: #0082cc;}
li.box .boor-empower .empower{background: #21AD39;}
/*分页*/
/*分页*/
.pro-pages {
    text-align: center;margin-bottom: 20px;margin-top: 10px;
}
.pro-pages .pagination {text-align: center; }
.pro-pages .pagination .page {padding: 0; }
.pro-pages a:hover {background: #ca3331; color: #fff; }
.pro-pages .page,.pro-pages .next,.pro-pages .prev ,.pro-pages .ellipsis{display: inline-block;*display: inline;
  *zoom: 1;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: #ededed;
  color: #666;
  font-family: "宋体";
  font-size: 14px;
}
.pro-pages .current {
  background: #ca3331;
  color: #fff; }
.pro-pages .next, .pro-pages .prev {
  font-family: "宋体";
  border: 0;
  border-radius: 0; }
.pro-pages .ellipsis{
    margin-left: 10px;
}

.ofh { overflow:hidden;}
.products .ad-gallery {width: 220px; position: relative;}
.products .ad-gallery, .ad-gallery * {margin: 0; padding: 0;}
.products .ad-gallery .ad-image-wrapper {width: 220px;height: 220px; display: inline-block;*display: inline; *zoom: 1; position: relative;}
.products .ad-gallery .ad-image-wrapper img{ max-width: 220px; max-height: 220px;}
.products .ad-gallery .ad-image-wrapper .ad-loader {position: absolute;  z-index: 10;top: 48%; left: 48%; border: 1px solid #CCC;}
.products .ad-gallery .ad-image-wrapper .ad-next { position: absolute; right: 0; top: 0; width: 25%; height: 100%; cursor: pointer; display: none; z-index: 100; }
.products .ad-gallery .ad-image-wrapper .ad-prev { position: absolute; left: 0; top: 0; width: 25%;  height: 100%;cursor: pointer; display: none; z-index: 100; }

.products .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background:url(../../../images/fronts/market/img/ad_prev.png);  width: 30px; height: 30px; display: none; position: absolute; top: 47%; left: 0;z-index: 101;  display:none}
.products .ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background:url(../../../images/fronts/market/img/ad_next.png); width: 30px; height: 30px;right: 0; left: auto; display:none}

.products .ad-gallery .ad-nav { width: 140px;margin: 0 auto; position: relative; }
.products .ad-gallery .ad-forward, .products .ad-gallery .ad-back { position: absolute; top: 0; height: 100%;  z-index: 10; }
/* IE 6 doesn't like height: 100% */
* html .ad-gallery .ad-forward, .ad-gallery .ad-back { height: 30px;}
.products .ad-gallery .ad-back { cursor: pointer; left: -20px; width: 14px;display: block; background:url(../../../images/fronts/market/pre.gif) left center no-repeat;}
.products .ad-gallery .ad-forward { cursor: pointer; display: block;  right: -20px; width: 14px;background:url(../../../images/fronts/market/next.gif) left center no-repeat; }
.products .ad-gallery .ad-nav .ad-thumbs { overflow: hidden; width: 100%;}
.products .ad-gallery .ad-thumbs .ad-thumb-list { float: left; width: 9000px !important; list-style: none;}
.products .ad-gallery .ad-thumbs li { width: 30px; height: 32px;  float: left; padding: 0 6px 0 0; }
.products .ad-gallery .ad-thumbs li a {  display: block;  }
.products .ad-gallery .ad-thumbs li a img { border: 1px solid #ccc;width: 30px;height: 30px;display: block;}
.products .ad-gallery .ad-thumbs li a.ad-active img {   border: 1px solid #616161; }
/* Can't do display none, since Opera won't load the images then */
.products .ad-preloads { position: absolute; left: -9000px; top: -9000px;}
/* productsend*/

/*我的进货单 2014-04-08*/
.pro-myorder{ position: fixed; width: 155px; bottom:0px; right: 0px; background: #fff; border: 1px solid #dbdbdb;z-index: 10; border-radius: 3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;}
	/*默认开始*/
.pro-myorder .pro-prevorderbox{ background: #e8e8e8; height: 39px; margin: 1px 0 0 1px; line-height: 40px; font-size: 14px; text-align: center;}
.pro-myorder .pro-prevorderbox .myorder-icon{ width: 19px; height: 19px; background: url("../../../images/fronts/market/pro-myorder.png") no-repeat; vertical-align: middle}
	/*移上来了以后*/
.pro-myorderafter{ position: fixed; display: none; width: 200px; bottom:0px; right: 0px; border: 1px solid #dbdbdb; background: #fff; z-index: 10; border-radius: 3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;}
.pro-myorderafter .pro-prevorderafter{ background: #e8e8e8; height: 39px; margin: 1px 0 0 1px; padding-left: 15px; line-height: 40px; font-size: 14px; position: relative;}
.pro-myorderafter .pro-prevorderafter .close-gro{ font-size: 12px; color: #666; position: absolute; right: 10px;}
.pro-myorderafter .pro-prevorderafter .close-gro .close{width:13px; height: 13px; background: url("../../../images/fronts/market/common-icons.png") no-repeat; vertical-align: -3px; }
.pro-myorderafter .pro-prevorderafter .closeall{ width:25px; height:25px; background: url("../../../images/fronts/market/common-icons.png") no-repeat -29px 0;position: absolute; left: -25px;}
.pro-myorderafter .pro-list-order { margin: 15px 15px 0 15px; height: 288px; overflow: hidden; }
.pro-myorderafter .pro-list-order .pro-list-orderdl{ clear: both; overflow: hidden; margin-bottom: 10px;}
.pro-myorderafter .pro-list-order .pro-list-orderdl .imgbox{ width: 50px; height: 50px; border: 1px solid #d2d0cb; background: #faf7f2; padding: 5px; position: relative;}
.pro-myorderafter .pro-list-order .pro-list-orderdl .imgbox .closeitems{width: 14px; height: 14px; background: url("../../../images/fronts/market/common-icons.png") no-repeat 0 -15px; position: absolute; top:0;right: 0;}
.pro-myorderafter .pro-list-order .pro-list-orderdl .tit { margin-left: 70px; margin-right: 10px; padding-bottom: 2px; border-bottom: 1px dashed #dcdcdc; }
.pro-myorderafter .pro-list-order .pro-list-orderdl .tit a{ color: #666;}
.pro-myorderafter .pro-list-order .pro-list-orderdl .des{ margin-left: 70px; padding-top: 5px; color: #999;}
.pro-myorderafter .click-account{border-top: 1px dashed #dcdcdc; margin: 10px; padding-top: 10px; text-align: center;}
.pro-myorderafter a.account-btn{ background: #f95959;color: #fff; padding:7px 35px;border-radius: 3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.pro-myorderafter a.account-btn:hover{filter: alpha(opacity=70);opacity: 0.7;}
.pro-myorderafter .pro-myorderafter-footer{border-bottom: 6px solid #e8e8e8;}


/* 其他的showbody */
#nextshowbody{ border-top:0}

/* 品牌视觉 */
.virtual-tit{margin:10px auto; overflow:hidden; padding-left:45px}
.virtual-tit li{ float:left; content:none; cursor: pointer}
.virtual-tit li.vir{ display:block; width:116px; height:116px; float:left; margin:0 15px 0 0; font-size:0; _line-height:0; _text-indent:-9999em;/*IE 6/7小黑点*/}
.virtual-tit a.vir{ display:block; width:116px; height:116px; float:left; margin:0 15px 0 0; font-size:0; _line-height:0; _text-indent:-9999em;/*IE 6/7小黑点*/}
.virtual-tit .virtual-tit1{ background:url(../../../images/fronts/market/virtual-tit.jpg) no-repeat 2px top}
.virtual-tit .virtual-tit2{ background:url(../../../images/fronts/market/virtual-tit.jpg) no-repeat -126px top}
.virtual-tit .virtual-tit3{ background:url(../../../images/fronts/market/virtual-tit.jpg) no-repeat -249px top}
.virtual-tit li.selected.virtual-tit1{ background:url(../../../images/fronts/market/virtual-tit2.jpg) no-repeat 2px top}
.virtual-tit li.selected.virtual-tit2{ background:url(../../../images/fronts/market/virtual-tit2.jpg) no-repeat -126px top}
.virtual-tit li.selected.virtual-tit3{ background:url(../../../images/fronts/market/virtual-tit2.jpg) no-repeat -249px top}
.virtual-tit li.selected .virtual-tit1{ background:url(../../../images/fronts/market/virtual-tit2.jpg) no-repeat 2px top}
.virtual-tit li.selected .virtual-tit2{ background:url(../../../images/fronts/market/virtual-tit2.jpg) no-repeat -126px top}
.virtual-tit li.selected .virtual-tit3{ background:url(../../../images/fronts/market/virtual-tit2.jpg) no-repeat -249px top}
.virtual { margin-top:15px; background:#fff; overflow:hidden; border:1px #ddd solid; padding:10px}

/*视频展示*/
.virtual .videobox{ margin:0 10px 0 0; width: 740px; height: 450px}
.virtual .share{ color:#444}
.virtual .share .table .tabletr{ margin:5px 0; font-size:24px}
.virtual .share input.copytext{ width:228px; height:27px; border:1px solid #c7c7c7; color:#ccc; padding:0 5px; *line-height:27px; line-height:27px\9;margin:10px 0 0 0}
.virtual .share input.copybtn{ background:url(../../../images/fronts/market/copybtn.jpg) no-repeat left top; border:0; width:90px; height:29px; cursor:pointer; margin:10px 0 0 5px}
.virtual .share input.copybtn:hover{ background:url(../../../images/fronts/market/copybtn.jpg) no-repeat right top;}
/*3D展厅*/

/*2014-03-24 tabs*/
.prodisshow .hide{ display: none}

//增加的图标
.proInfo-icons{
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin-right: 5px;
    background: url("../../../images/fronts/market/pro-info-icons.png") no-repeat -999em;
    vertical-align: -1px;
    *vertical-align: 2px;
}
.proInfo-icons-destine{
    width: 12px;
    height: 10px;
    background-position: 0 0;
}
.proInfo-icons-warrant{
    width: 12px;
    height: 10px;
    background-position: 0 -20px;
}
.proInfo-icons-nodestine{
    width: 12px;
    height: 10px;
    background-position: 0 -101px;
}
.proInfo-icons-nowarrant{
    width: 12px;
    height: 10px;
    background-position: 0 -39px;
}
.proInfo-icons-order{
    width: 9px;
    height: 10px;
    background-position: 0 -59px;
}
.proInfo-icons-colet{
    width: 9px;
    height: 10px;
    background-position: 0 -80px;
}
.proInfo-icons-bkj{
    width: 220px;
    height: 22px;
    background-position: right top;
    position: absolute;
    top:200px;
    left: 0;
    z-index: 2;
}


/*20151020*/
/*改版后布局变为1190px*/
//.ts-container{width: 1190px;}
/*当前页面分页样式重置*/
.pagination {background: #fff;text-align: center;font-size: 0;}
.pagination a{-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.pagination a:hover{ text-decoration: none;}
.pagination .prev, .pagination .next, .pagination .page,.pagination .ellipsis{display: inline-block;*display:inline;*zoom:1;padding: 0;height: 33px;margin-left: -1px;line-height: 33px;border: #e5e5e5 solid 1px;background: #fff;font-size: 12px;font-family: "宋体";color: #666;}
.pagination .page,.pagination .ellipsis{
    padding: 0 10px;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page:hover,.pagination .ellipsis:hover{background-color: #e4e4e4;}
.pagination .current:hover{background-color: #ed0100;}
.pagination .prev,.pagination .next{border-radius: 0; color: #999;}
.pagination .prev{margin-right: 10px;}
.pagination .next{margin-left: 10px;}
.pagination .current {border-color:#ed0100;background-color: #ed0100;color: #fff;}
.pagination .total {margin-left: 10px;font-size: 12px;color: #666;}

/*图标*/
.icon-search,
.icon-nayang,
.icon-shouxin,
.icon-yuding,
.icon-cat,
.icon-d-prev,
.icon-d-next,
.icon-f-prev,
.icon-f-next,
.icon-collect,
.icon-jhds{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url("/images/fronts/market/icon.png") no-repeat -999em;
    vertical-align: -3px;
    *vertical-align: middle;
}
.icon-search{
    width: 12px;
    height: 11px;
    background-position: 0 0;
    vertical-align: middle;
}
.icon-nayang{
    width: 16px;
    height: 16px;
    background-position: -72px 0;
    vertical-align: -4px;
    *vertical-align: middle;
}
.icon-shouxin{
    width: 16px;
    height: 16px;
    background-position: -93px 0;
    vertical-align: -4px;
    *vertical-align: middle;
}
.icon-yuding{
    width: 16px;
    height: 16px;
    background-position: -114px 0;
    vertical-align: -4px;
    *vertical-align: middle;
}
.icon-cat{
    width: 16px;
    height: 16px;
    background-position: -135px 0;
    vertical-align: -4px;
    *vertical-align: middle;
}
.icon-d-prev{
    width: 6px;
    height: 9px;
    background-position: -28px 0;
    vertical-align: 0;
    *vertical-align: 3px;
}
.icon-d-next{
    width: 6px;
    height: 9px;
    background-position: -61px 0;
    vertical-align: 0;
    *vertical-align: 3px;
}
.icon-f-prev{
    width: 6px;
    height: 9px;
    background-position: -39px 0;
    vertical-align: 0;
    *vertical-align: 3px;
}
.icon-f-next{
    width: 6px;
    height: 9px;
    background-position: -50px 0;
    vertical-align: 0;
    *vertical-align: 3px;
}
.icon-collect{
    width: 11px;
    height: 10px;
    margin-right: 6px;
    background-position: -156px 0;
    vertical-align: 0px;
    *vertical-align: 3px;
}
.icon-jhds{
    width: 10px;
    height: 10px;
    margin-right: 6px;
    background-position: -170px 0;
    vertical-align: 0px;
    *vertical-align: 3px;
}

.m-product{padding: 20px;border: 1px solid #e5e5e5;background: #fff;}
.m-cate{margin-bottom: 15px;}
.cate-tit{width: 70px;color:#999;}
.cate-list{width: 1075px;}
.cate-list li{margin-bottom: 10px; margin-right: 30px;}
.cate-list li em{color: #999;}
.cate-list li a{
    color: #666;
    &:hover{
        color: #f80;
    }
}
.cate-list li.active a{color: #f80;}
.m-search .form{ height:30px;line-height:30px;border: 1px solid #e5e5e5;}
.m-search #searchTxts{float: left;display: inline;height: 20px;width:360px;line-height: 20px; padding: 5px;border: 0;color:#999;}
.m-search #searchbtns{float: left;display: inline;height:30px;width:30px;border: 0;border-left:1px solid #e5e5e5;background: #fff;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.m-search #searchbtns:hover{background-color: #f2f2f2;}
.m-search .count{line-height: 30px;margin-left: 10px;color: #666;}
.m-filter{height: 40px;margin-top:10px;background: #f2f2f2;}
.m-filter .m-f-1{line-height: 40px;}
.m-filter .m-f-1 a{display: block;padding: 0 23px;color:#666;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.m-filter .m-f-1 a:hover{background-color: #e4e4e4;}
.m-filter .m-f-1.current{line-height: 38px;border: 1px solid #e5e5e5; background: #fff;}
.m-filter .m-f-1.current a{color: #ed0100;}
.m-filter .m-f-2{height:25px;line-height:25px; margin-left: 40px; margin-right: 5px; padding: 6px 9px 7px 9px;border: 1px solid #e5e5e5;background: #fff;}
.m-filter .m-f-2 input{width:40px;height: 19px;line-height: 19px;padding: 2px 5px 2px 15px;border:1px solid #e5e5e5;background: url("/images/fronts/market/yuan.png") no-repeat 4px 7px;color: #999;}
.m-filter .m-f-2 span{margin: 0 2px;color: #666;}
.m-filter .m-f-2 button{ height:25px;line-height:23px;margin-left:10px;padding:0 10px;border: 0;border-radius: 3px;background: #f55;color: #fff;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.m-filter .m-f-2 button:hover{background: #d24848;}
.m-filter .m-f-2 button:active{position:relative;top:1px;}
.m-filter .m-f-3{ height: 16px;padding: 12px 15px; color: #666;}
.m-filter .m-f-3 label{padding-right: 5px;}
.m-filter .m-f-3 input{vertical-align: -3px;*vertical-align: middle;}
.m-filter .m-f-4{margin-top: 8px;margin-right: 10px;}
.m-filter .m-f-4 span{color: #666;}
.m-filter .m-f-4 em{color: #ef0000;}
.m-filter .m-f-4 .prev{margin-right: 20px;}
.m-filter .m-f-4 .next{margin-left: 20px;}
.m-filter .m-f-4 .icon-window,
.m-filter .m-f-4 .icon-entry{
    float: left;
    border: 1px solid #ccc;
    width: 30px;
    height:24px;
    background:#fff url("/images/fronts/market/list-type.png") no-repeat;
}
.m-filter .m-f-4 .icon-window{
    border-right: 0;
    background-position: left top;
}
.m-filter .m-f-4 .icon-entry{
    border-left: 0;
    background-position: left bottom;
}
.m-filter .m-f-4 .active{
    border-color: #ddd;
    background-color: #ddd;
}

.m-list ul{margin-top: 20px;margin-right: -23px;}
.m-list li{width:220px;height:370px;margin-right: 12px;margin-bottom:20px;border: 1px solid #f3f3f3;font-family: "Microsoft yahei";position: relative;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.m-list .pic{}
.m-list .pic .js-img-center{display:block;width: 220px;height: 220px;}
.m-list .pic .js-img-center img{max-width: 220px;max-height: 220px;_width:220px;_height:220px;}
.m-list .detail{ padding: 10px;color: #999;}
.m-list .detail .price,
.m-list .detail .number{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;}
.m-list .detail .price em,.m-list .detail .price strong{color: #e00;font-size: 14px;}
.m-list .detail .price strong{font-size: 14px;font-weight: normal;}
.m-list .detail .price i{margin-left:10px;text-decoration:line-through;}
.m-list .detail .title{height:36px;padding: 5px 0;overflow: hidden;}
.m-list .detail .title a{
    color: #666;
    &:hover{
        color: #f80;
    }
}
.m-list .detail .number{}
.m-list .detail .address{margin-bottom: 10px;}
.m-list .detail .address a{color: #999;}
.m-list .detail .address .fl{width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;}
.m-list .detail .address .fr{}
.m-list .operate{position: absolute;top:190px;left: 0;width:220px;height: 30px;line-height: 30px;background-color: #eb0000;background-color: rgba(235, 0, 0, 0.8);display: none;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.m-list .operate .operate-collect,
.m-list .operate .operate-jhds{
    float:left;display:inline;text-align: center;color: #fff;
    -webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;
    &:hover{
        background: #c00;
    }
}
.m-list .operate .operate-collect{width: 100px;}
.m-list .operate .operate-jhds{width: 118px;border-left: 1px solid rgba(255, 255, 255, 0.3);}
.m-list .operate.disabled {

    background-color: #ddd;
    .operate-collect,.operate-jhds{

        cursor: pointer;
        &:hover{
            background: #ddd;
        }
    }
}
.m-list li:hover,
.m-list li.hover{border-color: #eb0000;}
.m-list li.hover .operate{display: block;}
.m-list{

    .no-data{
        margin-top:50px;
        margin-bottom:200px;
        padding: 0 auto;
        text-align: center;

    }
}

/*列表模式重置样式*/
.entry-list{
    margin-bottom: 20px;
}
.entry-list li{
    width: 1116px;
    height: auto;
    padding: 20px;
    margin-top: -1px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #fcfcfc;
}
.entry-list li:hover{
    border-color: #f3f3f3;
    background-color: #fefce8;
}
.entry-list .entry-pic,
.entry-list .entry-detail,
.entry-list .entry-price,
.entry-list .entry-operate{
    float: left;
    display: inline;
    height: 90px;
    margin-top: -5px;
    margin-left: 20px;
}
.entry-list .entry-pic{
    margin-left: 0;
    margin-top: 0;
}
.entry-list .entry-pic .js-img-center{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width: 90px;
    height: 90px;
    border:1px solid #f3f3f3;
}
.entry-list .entry-pic .js-img-center img{
    max-width: 90px;
    max-height: 90px;
}
.entry-list .entry-detail{
    width: 290px;
    height: 90px;
    position: relative;
}
.entry-list .entry-detail .title{
    /*margin-top: -5px;*/
    font-size: 14px;
}
.entry-list .entry-detail .title a{
    color: #666;
}
.entry-list .entry-detail .title a:hover{
    color: #f80;
}
.entry-list .entry-detail .number{
    margin-top: 5px;
    color: #999;
}
.entry-list .entry-detail .signs{
    position: absolute;
    left:0;
    bottom: -6px;
}
.entry-list .entry-operate{
    margin-top: 0;
}
.entry-list .entry-operate .btns{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 80px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
    color: #666;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.entry-list .entry-operate .btns:hover{
    border-color: #d24848;
    background: #f55;
    color: #fff;
}
.entry-list .entry-price{
    width: 270px;
    margin-left: 20px;
    font-size: 14px;
    color: #999;
}
.entry-list .entry-price span{
    color: #e00;
}
.entry-list .entry-price strong{
    font-weight: normal;
}

.order-table{ border: #ccc solid 1px;}
.order-table td,th{ padding: 8px 0;}
.order-table td{
    border-bottom: #d9d9d9 solid 1px;
    padding-left: 8px;
    padding-right: 8px;
}
.order-table th{
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
    color: #666;
    background-color: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#F2F2F2');
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
}

.set_comfirm{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 80px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
    color: #666;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.set_comfirm:hover{
    border-color: #d24848;
    background: #f55;
    color: #fff;
}