.pagination {
  background: #fff;
  text-align: right;
  font-size: 0;
}
.pagination .total {
  margin-left: 10px;
  font-size: 12px;
}
.pagination .total strong {
  font-weight: normal;
}
.pagination .ellipsis {
  margin-left: 10px;
  font-size: 12px;
}
.pagination .page {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  padding: 0 6px;
  height: 22px;
  line-height: 22px;
  background: #f3f3f3;
  color: #666;
}
.pagination .page:hover {
  background-color: #c00;
  color: #fff;
}
.pagination .current {
  background-color: #c00;
  color: #fff;
}
.pagination .prev,
.pagination .next {
  width: 58px;
  height: 20px;
  line-height: 20px;
  border: #ddd solid 1px;
  text-align: center;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  color: #666;
}
.pagination .prev:hover,
.pagination .next:hover {
  color: #c00;
}
/*! define alice/table/1.0.1/table-debug.css */
/* alice.table 样式模块 */
.ui-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 12px;
  text-align: left;
}
.ui-table tr:nth-child(even),
.ui-table-split,
.ui-table-hover {
  background-color: #FBFBFB;
}
.ui-table tr {
  color: #808080;
}
.ui-table thead tr {
  color: #666;
}
.ui-table thead {
  color: #666;
  background-color: #F6F6F6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F2F2F2');
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);
}
.ui-table th {
  padding: 7px 9px;
  border-bottom: 1px solid #d9d9d9;
  text-align: left;
}
.ui-table td {
  padding: 8px 9px 7px;
  border-bottom: 1px solid #d9d9d9;
}
.ui-table th {
  padding: 7px 9px;
}
.ui-table tfoot td {
  border-bottom: none;
}
/* 无边框table加上ui-table-noborder */
.ui-table-noborder,
.ui-table-noborder td,
.ui-table-noborder tr,
.ui-table-noborder th {
  border: none;
  outline: none;
}
.ui-table-noborder .ui-table-split,
.ui-table-noborder .ui-table-hover {
  background-color: #f7f7f7;
}
/* 当table放在一个有边框的容器中时，比如ui-box，需要添加类名ui-table-inbox去掉本身的外框 */
.ui-table-inbox {
  border: none;
  outline: none;
}
/*! define alice/form/1.0.2/form-debug.css */
/* alice.form 样式模块 */
.ui-form {
  font-size: 12px;
  line-height: 1.5;
}
.ui-form,
.ui-form * {
  list-style: none;
}
.ui-form fieldset {
  border: 0;
}
.ui-form legend {
  display: none;
}
.ui-form-explain {
  margin: 0;
  padding: 8px 0 0;
  font-size: 12px;
  color: #B2B2B2;
}
.ui-form-other {
  margin-left: 8px;
}
.ui-form-text {
  display: inline-block;
  margin-top: 6px;
  *display: inline;
  *zoom: 1;
}
.ui-form-item:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.ui-form-item {
  padding: 0 5px 20px 170px;
  zoom: 1;
}
.ui-form-item select {
  vertical-align: middle;
  margin: 4px 0 0;
}
.ui-form-item input {
  vertical-align: middle;
}
.ui-form-item .ui-input {
  color: #595959;
  vertical-align: middle;
  *vertical-align: -5px;
}
.ui-form-item-error .ui-input,
.ui-form-item-error .ui-textarea {
  border: 1px #F00 solid;
  color: #F00;
}
.ui-form-item-error .ui-input-reset {
  border: 1px #9C9C9C solid;
  color: #000;
}
.ui-form-item-error .ui-form-explain {
  color: #FF5243;
}
.ui-form-large .ui-input {
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  padding: 11px 10px;
}
.ui-form-large .ui-label {
  padding-top: 12px;
}
/*! block alice/form/1.0.2/input-debug.css */
.ui-input {
  padding: 7px 9px;
  line-height: 18px;
  border: 1px solid #c1c1c1;
  color: #595959;
  font-size: 12px;
}
.ui-input:hover,
.ui-textarea:hover,
.ui-input-hover {
  border: 1px #727272 solid;
  border-top-color: #808080;
}
.ui-input:focus,
.ui-textarea:focus,
.ui-input-focus {
  border: 1px #07f solid;
  box-shadow: 0 0 3px #8cddff;
  color: #595959;
}
.ui-textarea {
  line-height: 15px;
  border: 1px #9C9C9C solid;
  padding: 1px 3px 0 4px;
  overflow: auto;
  font-family: Arial;
  font-size: 12px;
}
.ui-input[disabled],
.ui-textarea[disabled] {
  border: 1px solid #ccc;
  background: #f2f2f2;
}
.ui-input:disabled,
.ui-textarea:disabled {
  border: 1px solid #ccc;
  background: #f2f2f2;
}
.placeholder {
  color: #ccc;
}
.ui-input-checkcode {
  width: 100px;
  height: 24px;
  line-height: 28px;
  margin: 0;
  padding: 2px 5px;
}
.ui-form-item-hover .ui-input,
.ui-form-item-hover .ui-textarea {
  border: 1px #727272 solid;
}
.ui-form-item-focus .ui-input,
.ui-form-item-focus .ui-textarea {
  border: 1px #07f solid;
  box-shadow: 0 0 3px #8cddff;
}
.ui-form-item-focus .ui-form-explain,
.ui-form-item-hover .ui-form-explain {
  color: #333;
}
/*! endblock alice/form/1.0.2/input-debug.css */
/*! block alice/form/1.0.2/label-debug.css */
.ui-label {
  float: left;
  width: 170px;
  margin-left: -180px;
  padding-top: 5px;
  text-align: right;
  font-size: 14px;
}
.ui-form-required {
  color: #FF0000;
  font-family: SimSun;
  font-size: 14px;
  margin-right: 6px;
}
input.ui-checkbox {
  vertical-align: baseline;
}
/*! endblock alice/form/1.0.2/label-debug.css */
/*! define alice/button/1.2.0/button-debug.css */
@charset "utf-8";
.ui-button * {
  margin: 0;
  padding: 0;
}
.ui-button {
  display: inline-block;
  *display: inline;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /*font-size: 14px;*/
  /*font-family: inherit;*/
  /* Correct font family not being inherited in all browsers for <button> <input> inherit*/
  /*font-weight: initial;*/
  border-radius: 2px;
  padding: 0 20px;
  *zoom: 1;
  *overflow: visible;
  /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */
  background-image: none;
  /* for old alice button style conflict */
}
.ui-button .ui-button-text {
  background: none;
  padding: 0;
  height: auto;
  line-height: auto;
}
.ui-button:hover {
  text-decoration: none;
  background-image: none;
  /* for old alice button style conflict */
}
input.ui-button-text,
button.ui-button-text {
  *vertical-align: top;
  /* for a ie7 bug */
}
.ui-button:active {
  position: relative;
  top: 1px;
  box-shadow: 1px 1px 3px #999 inset;
}
/*! block alice/button/1.2.0/ui-button-orange-debug.css */
.ui-button-lorange,
.ui-button-morange,
.ui-button-sorange,
.ui-button-sorange {
  color: #fff;
  border: 1px solid #ff9c00;
  background-color: #ff9c00;
}
.ui-button-lorange:hover,
.ui-button-morange:hover,
.ui-button-sorange:hover {
  background-color: #f09300;
}
a.ui-button-lorange,
a.ui-button-morange,
a.ui-button-sorange,
a.ui-button-lorange:hover,
a.ui-button-morange:hover,
a.ui-button-sorange:hover,
a.ui-button-lorange:active,
a.ui-button-morange:active,
a.ui-button-sorange:active {
  color: #fff;
}
.ui-button-lorange {
  line-height: 32px;
  height: 32px;
}
.ui-button-morange {
  line-height: 28px;
  height: 28px;
}
.ui-button-sorange {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.ui-button-lorange {
  line-height: 30px;
  height: 30px;
}
a.ui-button-morange {
  line-height: 26px;
  height: 26px;
}
a.ui-button-sorange {
  line-height: 22px;
  height: 22px;
}
/*! endblock alice/button/1.2.0/ui-button-orange-debug.css */
/*! block alice/button/1.2.0/ui-button-white-debug.css */
.ui-button-lwhite,
.ui-button-mwhite,
.ui-button-swhite {
  border: 1px solid #afafaf;
  background-color: #f3f3f3;
  color: #777;
}
.ui-button-lwhite:hover,
.ui-button-mwhite:hover,
.ui-button-swhite:hover {
  border: 1px solid #8e8e8e;
  background-color: #fcfbfb;
  color: #676d70;
}
a.ui-button-lwhite,
a.ui-button-mwhite,
a.ui-button-swhite,
a.ui-button-lwhite:active,
a.ui-button-mwhite:active,
a.ui-button-swhite:active {
  color: #777;
}
a.ui-button-lwhite:hover,
a.ui-button-mwhite:hover,
a.ui-button-swhite:hover {
  color: #676d70;
}
.ui-button-lwhite {
  line-height: 32px;
  height: 32px;
}
.ui-button-mwhite {
  line-height: 28px;
  height: 28px;
}
.ui-button-swhite {
  line-height: 24px;
  height: 24px;
  padding: 0 12px;
  font-size: 12px;
}
a.ui-button-lwhite {
  line-height: 30px;
  height: 30px;
}
a.ui-button-mwhite {
  line-height: 26px;
  height: 26px;
}
a.ui-button-swhite {
  line-height: 22px;
  height: 22px;
}
/*! endblock alice/button/1.2.0/ui-button-white-debug.css */
/*! block alice/button/1.2.0/ui-button-disable-debug.css */
.ui-button-ldisable,
.ui-button-mdisable,
.ui-button-sdisable {
  color: #999;
  border: none;
  background: #cacccd;
  cursor: default;
}
a.ui-button-ldisable,
a.ui-button-mdisable,
a.ui-button-sdisable,
a.ui-button-ldisable:active,
a.ui-button-mdisable:active,
a.ui-button-sdisable:active,
a.ui-button-ldisable:hover,
a.ui-button-mdisable:hover,
a.ui-button-sdisable:hover {
  color: #999;
}
.ui-button-ldisable {
  line-height: 32px;
  height: 32px;
}
.ui-button-mdisable {
  line-height: 28px;
  height: 28px;
}
.ui-button-sdisable {
  line-height: 24px;
  height: 24px;
  padding: 0 12px;
  font-size: 12px;
}
.ui-button-ldisable,
.ui-button-mdisable,
.ui-button-sdisable {
  cursor: default!important;
}
.ui-button-ldisable:active,
.ui-button-mdisable:active,
.ui-button-sdisable:active {
  position: static;
  top: 0;
  box-shadow: none;
}
/*! endblock alice/button/1.2.0/ui-button-disable-debug.css */
/*! block alice/button/1.2.0/ui-button-blue-debug.css */
.ui-button-lblue,
.ui-button-mblue,
.ui-button-sblue {
  border: none;
  color: #fff;
  border: 1px solid #1d7ad9;
  background-color: #1d7ad9;
}
.ui-button-lblue:hover,
.ui-button-mblue:hover,
.ui-button-sblue:hover {
  background-color: #126ecc;
}
a.ui-button-lblue,
a.ui-button-mblue,
a.ui-button-sblue,
a.ui-button-lblue:active,
a.ui-button-mblue:active,
a.ui-button-sblue:active,
a.ui-button-lblue:hover,
a.ui-button-mblue:hover,
a.ui-button-sblue:hover {
  color: #fff;
}
.ui-button-lblue {
  line-height: 32px;
  height: 32px;
}
.ui-button-mblue {
  line-height: 28px;
  height: 28px;
}
.ui-button-sblue {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.ui-button-lblue {
  line-height: 30px;
  height: 30px;
}
a.ui-button-mblue {
  line-height: 26px;
  height: 26px;
}
a.ui-button-sblue {
  line-height: 22px;
  height: 22px;
}
/*! endblock alice/button/1.2.0/ui-button-blue-debug.css */
/*! block alice/button/1.2.0/ui-button-green-debug.css */
.ui-button-lgreen,
.ui-button-mgreen,
.ui-button-sgreen {
  color: #fff;
  border: 1px solid #379000;
  background-color: #4BB402;
}
.ui-button-lgreen:hover,
.ui-button-mgreen:hover,
.ui-button-sgreen:hover {
  background-color: #66BC2A;
}
a.ui-button-lgreen,
a.ui-button-mgreen,
a.ui-button-sgreen,
a.ui-button-lgreen:hover,
a.ui-button-mgreen:hover,
a.ui-button-sgreen:hover,
a.ui-button-lgreen:active,
a.ui-button-mgreen:active,
a.ui-button-sgreen:active {
  color: #fff;
}
.ui-button-lgreen {
  line-height: 32px;
  height: 32px;
}
.ui-button-mgreen {
  line-height: 28px;
  height: 28px;
}
.ui-button-sgreen {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.ui-button-lgreen {
  line-height: 30px;
  height: 30px;
}
a.ui-button-mgreen {
  line-height: 26px;
  height: 26px;
}
a.ui-button-sgreen {
  line-height: 22px;
  height: 22px;
}
/*! endblock alice/button/1.2.0/ui-button-green-debug.css */
/*! block alice/button/1.2.0/ui-button-red-debug.css */
.ui-button-lred,
.ui-button-mred,
.ui-button-sred,
.ui-button-sred {
  color: #fff;
  border: 1px solid #c00;
  background-color: #c00;
}
.ui-button-lred:hover,
.ui-button-mred:hover,
.ui-button-sred:hover {
  background-color: #b10000;
}
a.ui-button-lred,
a.ui-button-mred,
a.ui-button-sred,
a.ui-button-lred:hover,
a.ui-button-mred:hover,
a.ui-button-sred:hover,
a.ui-button-lred:active,
a.ui-button-mred:active,
a.ui-button-sred:active {
  color: #fff;
}
.ui-button-lred {
  line-height: 32px;
  height: 32px;
}
.ui-button-mred {
  line-height: 28px;
  height: 28px;
}
.ui-button-sred {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}
a.ui-button-lred {
  line-height: 30px;
  height: 30px;
}
a.ui-button-mred {
  line-height: 26px;
  height: 26px;
}
a.ui-button-sred {
  line-height: 22px;
  height: 22px;
}
a.ui-button-lred:active,
a.ui-button-mred:active,
a.ui-button-sred:active {
  box-shadow: 1px 1px 3px #5c0707 inset;
}
/*! endblock alice/button/1.2.0/ui-button-red-debug.css */
input.ui-checkbox {
  vertical-align: -2px;
}
input.ui-input {
  border: 1px solid #ddd;
  border-top: 1px solid #bbb;
}
input.ui-input:focus {
  background-color: #fefef4;
}
input.search {
  background: url(/images/dealer/icons-input.gif) no-repeat 97% -163px;
}
input.search-l {
  background: url(/images/dealer/icons-input.gif) no-repeat 0 -163px;
}
input.date {
  background: url(/images/dealer/icons-input.gif) no-repeat 3px -125px;
}
select.ui-select {
  border: 1px solid #ddd;
  border-top-color: #ddd;
}
.ui-form .ui-form-row {
  *zoom: 1;
}
.ui-form .ui-form-row:before,
.ui-form .ui-form-row:after {
  content: "";
  display: table;
  font: 0/0 a;
}
.ui-form .ui-form-row:after {
  clear: both;
}
.ui-form .ui-form-row .ui-form-item {
  float: left;
  padding: 0;
  padding-left: 85px;
}
.ui-form .ui-form-row .ui-form-item .ui-label {
  width: 80px;
  margin-left: -85px;
  font-size: 12px;
}
.ui-form .ui-input {
  padding: 4px 9px;
  _padding: 6px 9px;
}
.ui-form .ui-input.date {
  padding-left: 25px;
}
.ui-form .ui-select {
  padding: 5px;
  margin: 0;
}
.ui-form button.ui-button {
  vertical-align: top;
  _line-height: 24px;
  _height: 24px;
}
