<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.exhibition.mapper.DecorateMenuLogMapper">
    <!-- 基础列 -->
    <sql id="decorateMenuLogColumns">
        a.refrenceId as refrenceId ,
        a.brandId as brandId ,
        a.brandsId as brandsId ,
        a.menuValue as menuValue ,
        a.createTime as createTime ,
        a.updateTime as updateTime ,
        a.delFlag as delFlag
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        insert into DecorateMenuLog(
         refrenceId ,
         brandId ,
         brandsId ,
         menuValue ,
         createTime ,
         updateTime,
         delFlag
        ) VALUES (
        #{refrenceId}  ,
        #{brandId}  ,
        #{brandsId}  ,
        #{menuValue}  ,
        #{createTime}  ,
        #{updateTime}  ,
        #{delFlag}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from DecorateMenuLog where refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        delete from  DecorateMenuLog where refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        insert into DecorateMenuLog
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            refrenceId ,
        </if>
        <if test="brandId != null">
            brandId ,
        </if>
        <if test="brandsId != null">
            brandsId ,
        </if>
        <if test="menuValue != null">
            menuValue ,
        </if>
        <if test="createTime != null">
            createTime ,
        </if>
        <if test="updateTime != null">
            updateTime ,
        </if>
        <if test="delFlag != null">
            delFlag
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="refrenceId != null">
            #{refrenceId} ,
        </if>
        <if test="brandId != null">
            #{brandId} ,
        </if>
        <if test="brandsId != null">
            #{brandsId} ,
        </if>
        <if test="menuValue != null">
            #{menuValue} ,
        </if>
        <if test="createTime != null">
            #{createTime} ,
        </if>
        <if test="updateTime != null">
            #{updateTime} 
        </if>
        <if test="delFlag != null">
            #{delFlag}
        </if>

        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        update DecorateMenuLog
           <set>
            <if test="brandId != null">
                brandId = #{brandId} ,
            </if>
            <if test="brandsId != null">
                brandsId = #{brandsId} ,
            </if>
            <if test="menuValue != null">
                menuValue = #{menuValue} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag}
            </if>
           </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        update DecorateMenuLog set
            brandId = #{brandId} ,
            brandsId = #{brandsId} ,
            menuValue = #{menuValue} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            delFlag = #{delFlag}
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        select <include refid="decorateMenuLogColumns"/> from DecorateMenuLog a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        SELECT
        <include refid="decorateMenuLogColumns"/>
        FROM DecorateMenuLog a WHERE 1 = 1
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>
        <if test="menuValue != null and menuValue != ''">
            and a.menuValue like CONCAT('%',#{menuValue}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
        <if test="delFlag != null">
            and a.delFlag = #{delFlag}
        </if>
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findByBrandIdAndBrandsId" parameterType="java.util.Map" resultType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        SELECT
        <include refid="decorateMenuLogColumns"/>
        FROM DecorateMenuLog a WHERE a.delFlag = FALSE
        <if test="brandId != null and brandId != ''">
            and a.brandId = #{brandId}
        </if>
        <if test="brandsId != null and brandsId != ''">
            and a.brandsId = #{brandsId}
        </if>

    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.exhibition.entity.DecorateMenuLog">
        SELECT
        <include refid="decorateMenuLogColumns"/>
        FROM DecorateMenuLog a  where a.delFlag = FALSE
    </select>
</mapper>

