@charset "UTF-8";
.Integration{
    font-family: "微软雅黑";
    ul{overflow: hidden;}
    li{float: left; line-height: 35px; font-size: 15px; width: 105px; text-align: center; border-right: 1px #ddd solid;}
    .main{background-color: #eaeaea;}
    a{color: #333;}
}
.IntegrationCent{
  border-top: 1px #ddd solid;
  width: 100%;
  overflow: hidden;
  margin-top: -1px;
  background-color:#eaeaea;
  ul{

    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 35px;
    overflow: hidden;
    padding-left: 10px;
  }
  li{
    float: left; padding-left: 5px;
  }
  input{width: 120px; height: 23px; margin-top: 7px;}

}
.MyIntegration{
  ul{height: 25px; padding-top: 10px;}
  li{
    border-left: 1px #d4d4d4 solid;
    float: left;
    line-height: 15px;
    width: 18%;
    text-align: center;
  }
  li:first-child{border:0px;}
}

.Attention{
  margin-top: 18px;
  border: 1px #ddd solid; overflow: hidden;
  height: 38px;
  .wd100{width: 100px;}
  font-family: "微软雅黑";
  ul{ }
  li{
      height: 30px;
      text-align: center;
      padding-top: 10px;
      overflow: hidden;
  }
  a{color: #333;}
  .main{
    background-color: #cc0001;
    font-size: 14px;
    color: #fff;
    width: 100px;
    a{color: #fff;}
  }
}

.Content{
  .AddAttention{
    border: 1px #ddd solid;
    overflow: hidden;
    padding: 8px;
    width: 469px;
    float: left;
    *display: inline;
    margin-top: 20px;
    //margin-left: 24px;
    //_margin-left:5px;
    margin-right: 24px;
    .left{
      line-height: 26px;
      position: relative;
      ul{
        width:120px;
        float: left;
        overflow: hidden;
        margin-left: 10px;
        margin-top: -4px;
        .another{
          position: absolute;
          bottom: 0;
        }
      }
      img{
        float: left;
        text-align: left;
        margin-left: 3px;
      }
    }
    .button{
      border: 1px #e5e5e5 solid;
      background-color: #f5f5f5;
      color: #2b90e6;
      font-size: 12px;
      padding: 0px 5px;
    }
    .right{
      width: 54%;
      overflow: hidden;
      margin-left: 10px;
      border-left: 1px #ddd dashed;
      ul{

      }
      li{
        margin-left: 10px;
        line-height: 24px;
        list-style-type: square;
        list-style-position: inside;
      }
      .fonts{
        border-bottom: 1px #ddd dashed;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }
  .AddAttention:first-child{
    //margin-left: 0px;
  }
}

.paginationTop{
  padding-top:20px;
  width:100%;
  text-align: center;
  margin: 0px auto;
  overflow:hidden;
  .pagination{
    text-align: center;
  }
}

.Dashed{
  border-top:1px #ddd dotted;
  display: block;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
}

.ui-button-lreds {
  height: 18px;
  background-color: #b20000;border: 0px; color: #fff;
}