@charset "UTF-8";
.pt3{padding-top: 3px;}
.hg35{height:35px;}
.tac{text-align: center;}
.bt1{border-top: 1px #ddd solid;}
.bb1{border-bottom: 1px #ddd solid;}
.br1{border-right: 1px #ddd solid;}
.brc-fa{background-color: #fafafa;}
.ou{
  background-color: #f9f9f9;
}
.dan{
  background-color: #FFF;
}
.pagination{
  text-align: center;
}
.Icon-Left-School{
  background: url("../../images/dealer/SchoolLeftIcon.png") center center no-repeat;
  width: 12px;
  height: 17px;
  padding-right: 2px;
  display: block;
  overflow: hidden;
  vertical-align: -2px;
  margin-left: 3px;
}
.panel-table{
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  thead{
    tr{
      th{
        border-color: -moz-use-text-color #DDD #DDD;
        border-right: 1px solid #DDDDDD;
      }
      th:first-child{
        border-left: 0px;
      }
    }
  }
  tbody{
    tr{
        td{
            border: 0;
            border-left: 1px solid #eeeeee;
            padding: 5px;
        }
        td:first-child{
            border-left: 0;
        }
    }
  }
}

.tabpanel{
  .tabs{
    border: 1px solid #DDD;
    .titles{padding-top:6px; padding-bottom:4px;padding-left:10px;}
  }
}

.review{
  padding-top: 10px;
  padding-bottom: 3px;
  margin: 0px auto;
  width: 97%;
  border-bottom: 1px #ddd solid;
}
.reply{
  margin: 14px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 10px;
  line-height: 20px;
  .title{
      font-weight: bold;
      padding-bottom: 5px;
      a{color: #333;}
      a:hover{color: #0082cc;}
  }
}
.reply_dd{
  margin: 0px auto;
  width: 97%;
  border-bottom: 1px #ddd dashed;
}
.reply_ipt{
  margin: 0px auto;
  text-align: center;
  width: 97%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.MyUploadBt{
  width:100px;
  text-align:right;
  float:right;
  position:relative;
  margin-top:-32px;
  padding-right:5px;
  overflow: hidden;
}