@charset "UTF-8";

.footer{
    background: #fff;
    margin-top: 10px;
    border-top: #64a5ff solid 2px;
    padding: 10px 0;
    text-align: center;
    color: #666;
    span{
        font-family: "Arial";
    }
}