@charset "utf-8";

$baseSelectFontSize:             12px !default; //默认字体大小
.ui-select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #fff;
    color: #7d7d7d;
    font-size: $baseSelectFontSize;
    z-index: 99 !important;
}
.ui-select a,
.ui-select-trigger {
    color: #7d7d7d;
    font-size: $baseSelectFontSize;
    &:hover{
        color: #7d7d7d;
    }
}
.ui-select-content {
    margin: -1px 0 0;
    overflow: auto;
    height: 100%;
    list-style: none;
    border: 1px solid #ccc;
}
.ui-select-item {
    display: block;
    padding: 5px 8px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.ui-select-item:hover,
.ui-select-item-hover {
    background: #f2f2f2;
}
.ui-select-trigger{
    height: 60px;
}
.ui-select-trigger:hover {
    border: 1px solid #999;
}
.ui-select .ui-select-trigger {
    display: block;
}