@charset "UTF-8";

@import "button";

.main{
    .inner{
        background: #fff;
        padding-bottom: 0 !important;
    }
}

//未通过页面提示
.mycount-nothrough{
    width: 485px;
    margin: 145px auto 0 auto;
    em{
        color:#e60012;
    }
    dt.imgbox{
        width: 163px;
        height: 174px;
        margin-right: 15px;
        background: url("/images/brand/notThrough.png") no-repeat;
        float: left;
    }
    dd{
        font-family: "microsoft yahei";
    }
    dd.tips{
        font-size: 18px;
        color:#e60012;
    }
    dd.lager{
        font-size: 26px;
        color:#333;
    }
    dd.another{
        font-size: 14px;
    }
    .ui_button_morange{
        margin-top: 15px;
    }
    .mycount-through-content{
        margin-top: 75px;
        color: #666666;
        .link{
            color: #1d7ad9;
        }
        .through-icon{
            width: 9px;
            height: 11px;
            margin-right: 2px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            background: url("/images/brand/common_icon.png") no-repeat -45px -108px;
            vertical-align: -1px;
        }
    }
}
//正在审核中提示
.mycount-havehrough{
    width: 625px;
    margin: 165px auto 0 auto;
    em{
        color:#e60012;
    }
    dt.imgbox{
        width: 155px;
        height: 172px;
        margin-right: 15px;
        background: url("/images/brand/haveThrough.png") no-repeat;
        float: left;
    }
    dd{
        font-family: "microsoft yahei";
    }
    dd.lager{
        margin-top: 45px;
        font-size: 26px;
        color:#333;
    }
    dd.another{
        font-size: 14px;
    }
    .mycount-through-content{
        width: 430px;
        margin: 75px auto 0 auto;
        color: #666666;
        .link{
            color: #1d7ad9;
        }
        em{
            color:#e60012;
        }
        .through-icon{
            width: 9px;
            height: 11px;
            margin-right: 2px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            background: url("/images/brand/common_icon.png") no-repeat -45px -108px;
            vertical-align: -1px;
        }
    }
}


