<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttx.web.module.fronts.mapper.HelpCateMapper">
    <cache type="com.zttx.sdk.cache.RedisCache"/>
    <!-- 基础列 -->
    <sql id="helpCateColumns">
        a.refrenceId as refrenceId,
        a.cateName as cateName ,
        a.parentId as parentId,
        a.cateNo as cateNo,
        a.helpLevel as helpLevel,
        a.description as description,
        a.showType as showType,
        a.showFlag as showFlag ,
        a.orderId as orderId,
        a.createTime as createTime,
        a.updateTime as updateTime,
        a.delFlag as delFlag
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.zttx.web.module.fronts.entity.HelpCate">
        INSERT INTO HelpCate (
        refrenceId,
        cateName,
        parentId,
        cateNo,
        helpLevel,
        description,
        showType,
        showFlag,
        orderId,
        createTime,
        updateTime,
        delFlag
        ) VALUES (
        #{refrenceId},
        #{cateName},
        #{parentId},
        #{cateNo},
        #{helpLevel},
        #{description},
        #{showType},
        #{showFlag},
        #{orderId},
        #{createTime},
        #{updateTime},
        #{delFlag}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM HelpCate
        WHERE refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        UPDATE HelpCate
        SET delFlag = TRUE
        WHERE refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.zttx.web.module.fronts.entity.HelpCate">
        insert into HelpCate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                refrenceId ,
            </if>
            <if test="cateName != null">
                cateName ,
            </if>
            <if test="parentId != null">
                parentId ,
            </if>
            <if test="cateNo != null">
                cateNo ,
            </if>
            <if test="helpLevel != null">
                helpLevel ,
            </if>
            <if test="description != null">
                description ,
            </if>
            <if test="showType != null">
                showType ,
            </if>

            <if test="showFlag != null">
                showFlag ,
            </if>
            <if test="orderId != null">
                orderId ,
            </if>
            <if test="createTime != null">
                createTime ,
            </if>
            <if test="updateTime != null">
                updateTime ,
            </if>
            <if test="delFlag != null">
                delFlag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                #{refrenceId} ,
            </if>
            <if test="cateName != null">
                #{cateName} ,
            </if>
            <if test="parentId != null">
                #{parentId} ,
            </if>
            <if test="cateNo != null">
                #{cateNo} ,
            </if>
            <if test="helpLevel != null">
                #{helpLevel} ,
            </if>
            <if test="description != null">
                #{description} ,
            </if>
            <if test="showType != null">
                #{showType} ,
            </if>

            <if test="showFlag != null">
                #{showFlag} ,
            </if>
            <if test="orderId != null">
                #{orderId} ,
            </if>
            <if test="createTime != null">
                #{createTime} ,
            </if>
            <if test="updateTime != null">
                #{updateTime} ,
            </if>
            <if test="delFlag != null">
                #{delFlag}
            </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.zttx.web.module.fronts.entity.HelpCate">
        update HelpCate
        <set>
            <if test="cateName != null">
                cateName = #{cateName} ,
            </if>
            <if test="parentId != null">
                parentId = #{parentId} ,
            </if>
            <if test="cateNo != null">
                cateNo = #{cateNo} ,
            </if>
            <if test="helpLevel != null">
                helpLevel = #{helpLevel} ,
            </if>
            <if test="description != null">
                description = #{description} ,
            </if>
            <if test="showType != null">
                showType = #{showType} ,
            </if>

            <if test="showFlag != null">
                showFlag = #{showFlag} ,
            </if>
            <if test="orderId != null">
                orderId = #{orderId} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag}
            </if>
        </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.zttx.web.module.fronts.entity.HelpCate">
        UPDATE HelpCate
        SET
        cateName = #{cateName},
        parentId = #{parentId},
        cateNo = #{cateNo},
        helpLevel = #{helpLevel},
        description = #{description},
        showType = #{showType},
        showFlag = #{showFlag},
        orderId = #{orderId},
        createTime = #{createTime},
        updateTime = #{updateTime},
        delFlag = #{delFlag}
        WHERE refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultType="com.zttx.web.module.fronts.entity.HelpCate">
        select
        <include refid="helpCateColumns"/>
        from HelpCate a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.zttx.web.module.fronts.entity.HelpCate">
        SELECT
        <include refid="helpCateColumns"/>
        FROM HelpCate a WHERE a.delFlag = 0
        <if test="cateName != null and cateName != ''">
            and a.cateName like CONCAT('%',#{cateName}, '%')
        </if>
        <if test="parentId != null and parentId != ''">
            and a.parentId = #{parentId}
        </if>
        <if test="cateNo != null and cateNo != ''">
            and a.cateNo = #{cateNo}
        </if>
        <if test="helpLevel != null and helpLevel >0 ">
            and a.helpLevel = #{helpLevel}
        </if>
        <if test="showType != null and showType >0">
            and a.showType = #{showType}
        </if>

        <if test="showFlag != null and showFlag >0">
            and a.showFlag = #{showFlag}
        </if>
        <if test="orderId != null and orderId != ''">
            and a.orderId = #{orderId}
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
        order by a.orderId asc,a.createTime desc
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.zttx.web.module.fronts.entity.HelpCate">
        SELECT
        <include refid="helpCateColumns"/>
        FROM HelpCate a WHERE a.delFlag = 0
    </select>

    <select id="findByLevel" resultType="com.zttx.web.module.fronts.entity.HelpCate">
        SELECT
        <include refid="helpCateColumns"/>
        FROM HelpCate a WHERE a.helpLevel = #{helpLevel} and a.delFlag = 0
    </select>

    <select id="findByParentId" resultType="com.zttx.web.module.fronts.entity.HelpCate">
        SELECT
        <include refid="helpCateColumns"/>
        FROM HelpCate a WHERE a.parentId = #{parentId} and a.delFlag = 0
    </select>

    <select id="getHelpNoByParent" parameterType="java.lang.String" resultType="java.lang.Integer">
        select MAX(a.cateNo) from HelpCate a where a.delFlag=0
        <choose>
            <when test="parentId != null and parentId != ''">
                and a.parentId = #{parentId}
            </when>
            <otherwise>
                and a.helpLevel = 1
            </otherwise>
        </choose>
    </select>
</mapper>

