@charset "UTF-8";

@import "../global";
@import "header";
@import "footer";
body{
  background: #FFF;
  font-family: "microsoft yahei";
}
a{
  text-decoration: none;
  transition:0.3s;
  &:hover{
    text-decoration: none;
  }
}
#banner{
  height: 475px;
  background: #000 url("/images/soft/app/banner.jpg") 50% no-repeat;
  .banner-bd{
    width:1000px;
    margin:0 auto;
    height: 475px;
    overflow: hidden;
    position: relative;
    img{
      position:absolute;
    }
    .hand{
      bottom:-60px;
      left:0;
    }
    .iphone{
      left:174px;
      bottom:5px;
      z-index:20;
    }
    .intro{
      width:470px;
      position:absolute;
      right:0;
      bottom:0;
      color:#FFF;
      h1{
        font-size:48px;
      }
      p{
        font-size:16px;
        line-height:30px;
        margin-bottom:35px;
      }
      .downLoad{
        margin-bottom:25px;
        .btn{
          display:block;
          height:66px;
          width:267px;
          background:url("/images/soft/app/button.png") no-repeat;
          margin-bottom:22px;
          &:hover{
            background:url("/images/soft/app/button-hover.png") no-repeat;
          }
          i{
            display:inline-block;
            height:66px;
            width:43px;
            margin-left:25px;
            vertical-align:top;
          }
        }
        .apple{
          background:url("/images/soft/app/apple.png") 0 center no-repeat;
        }
        .buttons{
          display:inline-block;
          *display:inline;
          zoom:1;
        }
        .qrcode{
          display:inline-block;
          *display:inline;
          zoom:1;
          height:160px;
          width:160px;
          vertical-align:top;
          margin-left:35px;
        }
        .android{
          background:url("/images/soft/app/android.png") 0 center no-repeat;
        }
      }
    }
  }
  .hardware{
    display:inline-block;
    vertical-align: top;
    margin-left:25px;
    margin-top:6px;
    span{
      display:block;
      color:#FFF;
      font-size:22px;
      line-height:27px;
    }
    .version{
      font-size:14px;
    }
  }
}
.section{
  height: 500px;
  overflow: hidden;
  background: #FFF;
  .section-bd{
    height: 500px;
    width: 1000px;
    margin:0 auto;
    position: relative;
    img,.phone-bg{
      position: absolute;
    }
  }
  .text{
    margin-top:143px;
    position: absolute;
    left:0;
    top:0;
    h1{
      font-size: 36px;
      margin-bottom: 6px;
    }
    h2{
      font-size: 30px;
      margin-bottom: 27px;
    }
    .role{
      font-size: 18px;
      margin-bottom: 6px;
    }
    p{
      font-size: 16px;
      line-height: 25px;
    }
  }
}
/*足不出户*/
.zbch{
  .sqr0{
    right:382px;
    top:260px;
  }
  .sqr1{
    right:111px;
    top:219px;
  }
  .sqr2{
    right:92px;
    top:181px;
  }
  .sqr3{
    right:65px;
    top:108px;
  }
  .sqr4{
    right:33px;
    top:80px;
  }
  .phone{
    bottom:0px;
    right:129px;
  }
  .bg{
    right:146px;
    bottom:0;
  }
  .location{
    right:235px;
    top:362px;
  }
  .pro2{
    right: 433px;
    bottom: 95px;
  }
  .pro1{
    right: 433px;
    bottom: 260px;
  }
  .pro3{
    right: 255px;
    top: 50px;
  }
  .pro4{
    right: 32px;
    bottom: 86px;
  }
  .pro5{
    right: 32px;
    bottom: 230px;
  }
  .location{
    -webkit-animation: jump 0.8s infinite;
    -moz-animation: jump 0.8s infinite;
    -o-animation: jump 0.8s infinite;
    -ms-animation: jump 0.8s infinite;
    animation: jump 0.8s infinite;
  }
  .pro{
    -webkit-transition: -webkit-transform 0.8s ease-out;
    -moz-transition: -moz-transform 0.8s ease-out;
    -o-transition: -o-transform 0.8s ease-out;
    -ms-transition: -ms-transform 0.8s ease-out;
    &:hover{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -o-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
}
/*语音下单*/
.yyxd{
  background: #80cadc;
  .text{
    position: absolute;
    right: 10px;
    top: 0;
    left:auto;
  }
  .phone{
    bottom:0;
    left:73px;
  }
  .y1{
    bottom: 2px;
    left:0;
  }
  .y2{
    bottom:2px;
    left:80px;
  }
  .y3{
    bottom:2px;
    left:160px;
  }
  .y4{
    bottom:2px;
    left:240px;
  }
  .y5{
    bottom:2px;
    left:320px;
  }
  .tips{
    top:198px;
    left:281px;
  }
  .micro{
    left:170px;
    top:293px;
  }
  .yy{
    -webkit-transition: -webkit-transform 0.8s ease-out;
    -moz-transition: -moz-transform 0.8s ease-out;
    -o-transition: -o-transform 0.8s ease-out;
    -ms-transition: -ms-transform 0.8s ease-out;
    &:hover{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -o-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
  .phone-bg{
    height: 282px;
    width: 218px;
    background: #fff;
    opacity: 0.7;
    filter:alpha(opacity=70);
    bottom:0;
    left:92px;
  }
  .sp1{
    top:307px;
    left:140px;
  }
  .sp2{
    left: 126px;
    top:296px;
  }
  .sp3{
    top:307px;
    left:239px;
  }
  .sp4{
    left: 249px;
    top:296px;
  }
}
/*扫码关注*/
.smgz{
  .phone{
    right:129px;
    bottom:0;

  }
  .phone-bg{
    height: 282px;
    width: 218px;
    background: #59debd;
    bottom:0;
    right:145px;
  }
  .code{
    top:249px;
    right:165px;
  }
  .kids{
    right:75px;
    bottom:-57px;
  }
}
/*震撼低价*/
.zhdj{
  background: #ffd349;
  .text{
    position: absolute;
    right: 10px;
    top: 0;
    left:auto;
  }
  .phone{
    left:123px;
    bottom:0;
  }
  .phone-bg{
    height: 282px;
    width: 218px;
    background: #fff;
    opacity: 0.7;
    filter:alpha(opacity=70);
    bottom:0;
    left:142px;
  }
  .jq{
    top:315px;
    left:175px;
  }
  .red-10{
    top: 45px;
    left: 195px;
    -webkit-animation: jump2 0.8s infinite;
    -moz-animation: jump2 0.8s infinite;
    -o-animation: jump2 0.8s infinite;
    -ms-animation: jump2 0.8s infinite;
    animation: jump2 0.8s infinite;
  }
  .red-15{
    top: 130px;
    left: 388px;
  }
  .red-20{
    top:300px;
    left:0;
  }
  .red-30{
    top:130px;
    left:20px;
  }
  .red-40{
    top:332px;
    left:431px;
  }
}
/*聊天购物*/
.ltgw{
  .phone{
    right:129px;
    bottom:0;
  }
  .phone-bg{
    height: 282px;
    width: 218px;
    background: #80cadc;
    bottom:0;
    right:145px;
  }
  .home{
    right:170px;
    top:324px;
  }
  .light{
    right:255px;
    top:141px;
  }
}
.s-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.s-animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.s-animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.moveLeft {
  -webkit-animation-name: moveLeft;
  animation-name: moveLeft;
}
@keyframes moveRight {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.moveRight {
  -webkit-animation-name: moveRight;
  animation-name: moveRight;
}
@keyframes moveRightDelay {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveRightDelay {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.moveRightDelay{
  -webkit-animation-name: moveRightDelay;
  animation-name: moveRightDelay;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@keyframes moveLeftDelay {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveLeftDelay {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.moveLeftDelay{
  -webkit-animation-name: moverDelay;
  animation-name: moverDelay;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@keyframes moverDelay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-webkit-keyframes moverDelay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.moverDelay{
  -webkit-animation-name: moverDelay;
  animation-name: moverDelay;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@keyframes selfBouIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes selfBouIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.selfBouIn{
  -webkit-animation-name: selfBouIn;
  animation-name: selfBouIn;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@keyframes scaleIn {
  100%{
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
@-webkit-keyframes scaleIn {
  100%{
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes jump {
  0% {top: 362px;
    -webkit-animation-timing-function: ease-in;
  }
  50% {top: 356px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {top: 362px;
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes jump {
  0% {top: 362px;
    -moz-animation-timing-function: ease-in;
  }
  50% {top: 356px;
    -moz-animation-timing-function: ease-out;
  }
  100% {top: 362px;
    -moz-animation-timing-function: ease-in;
  }
}

@-o-keyframes jump {
  0% {top: 362px;
    -o-animation-timing-function: ease-in;
  }
  50% {top: 356px;
    -o-animation-timing-function: ease-out;
  }
  100% {top: 362px;
    -o-animation-timing-function: ease-in;
  }
}

@-ms-keyframes jump {
  0% {top: 362px;
    -ms-animation-timing-function: ease-in;
  }
  50% {top: 356px;
    -ms-animation-timing-function: ease-out;
  }
  100% {top: 362px;
    -ms-animation-timing-function: ease-in;
  }
}

@keyframes jump {
  0% {
    top: 362px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 356px;
    animation-timing-function: ease-out;
  }
  100% {
    top: 362px;
    animation-timing-function: ease-in;
  }
}


@-webkit-keyframes jump2 {
  0% {top: 45px;
    -webkit-animation-timing-function: ease-in;
  }
  50% {top: 35px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {top: 45px;
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes jump2 {
  0% {top: 45px;
    -moz-animation-timing-function: ease-in;
  }
  50% {top: 35px;
    -moz-animation-timing-function: ease-out;
  }
  100% {top: 45px;
    -moz-animation-timing-function: ease-in;
  }
}

@-o-keyframes jump2 {
  0% {top: 45px;
    -o-animation-timing-function: ease-in;
  }
  50% {top: 35px;
    -o-animation-timing-function: ease-out;
  }
  100% {top: 45px;
    -o-animation-timing-function: ease-in;
  }
}

@-ms-keyframes jump2 {
  0% {top: 45px;
    -ms-animation-timing-function: ease-in;
  }
  50% {top: 35px;
    -ms-animation-timing-function: ease-out;
  }
  100% {top: 45px;
    -ms-animation-timing-function: ease-in;
  }
}

@keyframes jump2 {
  0% {
    top: 45px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 35px;
    animation-timing-function: ease-out;
  }
  100% {
    top: 45px;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes bounceIn {
  100%{
    opacity: 0;
  }
}
@-moz-keyframes bounceIn {
  100%{
    opacity: 0;
  }
}
@-o-keyframes bounceIn {
  100%{
    opacity: 0;
  }
}
@-ms-keyframes bounceIn {
  100%{
    opacity: 0;
  }
}
@keyframes bounceIn {
  100%{
    opacity: 0;
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  -ms-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

